wf1_patched.json
{"updatedAt": "2026-04-13T21:31:59.722Z", "createdAt": "2026-04-07T17:18:15.132Z", "id": "3qPmKNCZseEzvFNj", "name": "WF1: Lead Discovery", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {}, "id": "trigger-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 448]}, {"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 7 * * 1-5"}]}}, "id": "trigger-schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [0, 640]}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Targeting", "mode": "name"}, "filtersUI": {"values": []}, "options": {}}, "id": "read-targeting", "name": "Read Targeting Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [224, 640], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "// Normalize object keys \u2014 strips hidden chars (zero-width spaces, NBSP, BOM, etc.)\nfunction cleanKeys(obj) {\n  const clean = {};\n  for (const key of Object.keys(obj)) {\n    const normalKey = key.replace(/[\\s\\u00A0\\u200B\\u200C\\u200D\\uFEFF]+/g, '_').replace(/^_+|_+$/g, '').toLowerCase();\n    clean[normalKey] = obj[key];\n  }\n  return clean;\n}\n\n// Load excluded companies from sheet (specific firm + enterprise names)\nconst excludedCompanies = $('Read Excluded Companies').all()\n  .filter(r => r.json.company_name)\n  .map(r => ({\n    name: (r.json.company_name || '').toLowerCase().trim(),\n    type: (r.json.type || 'excluded').toLowerCase().trim()\n  }));\n\nconst combos = [];\n\nfor (const item of $input.all()) {\n  const row = cleanKeys(item.json);\n\n  const isActive = row.active === true || String(row.active).toLowerCase() === 'true';\n  if (!isActive) continue;\n\n  const roles = String(row.role_keywords || '').split(';').map(r => r.trim()).filter(Boolean);\n  const locs = String(row.locations || '').split(';').map(l => l.trim()).filter(Boolean);\n  const excludedKeywords = String(row.excluded_keywords || '').split(';').map(k => k.trim()).filter(Boolean);\n\n  for (const role of roles) {\n    for (const loc of locs) {\n      combos.push({\n        search_id: row.search_id || '',\n        query: role,\n        location: loc,\n        employment_type: String(row.employment_type || 'FULLTIME').toUpperCase().replace(/\\s+/g, ''),\n        excluded_keywords: excludedKeywords,\n        _excluded_companies: excludedCompanies\n      });\n    }\n  }\n}\n\nreturn combos.map(c => ({ json: c }));"}, "id": "build-search-combos", "name": "Build Search Combinations", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 448]}, {"parameters": {"url": "https://jsearch.p.rapidapi.com/search", "sendQuery": true, "queryParameters": {"parameters": [{"name": "query", "value": "={{ $json.query }}"}, {"name": "location", "value": "={{ $json.location }}"}, {"name": "employment_types", "value": "={{ $json.employment_type }}"}, {"name": "date_posted", "value": "3days"}, {"name": "num_pages", "value": "5"}, {"name": "remote_jobs_only", "value": "false"}, {"name": "country", "value": "us"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-RapidAPI-Key", "value": "={{ $vars.JSEARCH_API_KEY }}"}, {"name": "X-RapidAPI-Host", "value": "jsearch.p.rapidapi.com"}]}, "options": {"response": {"response": {"neverError": true}}}}, "id": "call-jsearch", "name": "JSearch API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [672, 448], "continueOnFail": true}, {"parameters": {"jsCode": "// Normalize JSearch response to common schema\nconst results = [];\nconst crypto = require('crypto');\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const jobs = data.data || [];\n\n  for (const job of jobs) {\n    const companyDomain = (job.employer_website || '').replace(/https?:\\/\\/(www\\.)?/, '').split('/')[0].toLowerCase();\n    const key = `${companyDomain}|${(job.job_title || '').toLowerCase()}|${(job.job_city || '').toLowerCase()}`;\n    const opportunityId = crypto.createHash('md5').update(key).digest('hex').substring(0, 12);\n\n    let employmentType = 'unknown';\n    const jt = (job.job_employment_type || '').toUpperCase();\n    if (jt.includes('CONTRACT')) employmentType = 'contract';\n    else if (jt.includes('FULLTIME') || jt.includes('FULL_TIME')) employmentType = 'direct_hire';\n    else if (jt.includes('PART')) employmentType = 'part_time';\n\n    const skillKeywords = ['python','javascript','typescript','react','node','sql','java','go','rust','aws','azure','gcp','kubernetes','docker','terraform'];\n    const skills = skillKeywords.filter(sk => JSON.stringify(job).toLowerCase().includes(sk)).join(', ');\n\n    results.push({\n      json: {\n        opportunity_id: opportunityId,\n        company_name: job.employer_name || '',\n        company_domain: companyDomain,\n        job_title: job.job_title || '',\n        location: `${job.job_city || ''}, ${job.job_state || ''}`.trim().replace(/^,\\s*/, ''),\n        employment_type: employmentType,\n        source_name: 'JSearch/RapidAPI',\n        source_url: job.job_apply_link || job.job_google_link || '',\n        posted_date: job.job_posted_at_datetime_utc || '',\n        date_found: new Date().toISOString(),\n        job_description: (job.job_description || '').substring(0, 2000),\n        skills: skills,\n        seniority: job.job_required_experience?.required_experience_in_months > 60 ? 'senior' : job.job_required_experience?.required_experience_in_months > 24 ? 'mid' : 'junior',\n        match_score: 0,\n        company_classification: '',\n        company_classification_reason: '',\n        status: 'discovered',\n        _excluded_keywords: item.json._excluded_keywords || [],\n        _excluded_company_types: item.json._excluded_company_types || []\n      }\n    });\n  }\n}\n\nreturn results;"}, "id": "normalize-jobs", "name": "Normalize Jobs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 448]}, {"parameters": {"jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const job = { ...item.json };\n  let score = 50;\n\n  const text = `${job.job_title} ${job.job_description}`.toLowerCase();\n  const title = job.job_title.toLowerCase();\n\n  if (['engineer','developer','manager','director','analyst','architect','lead'].some(t => title.includes(t))) score += 15;\n  if (['senior','sr.','lead','principal','staff','director','vp'].some(s => title.includes(s))) score += 10;\n  if (job.source_url) score += 5;\n  if (text.includes('remote') || text.includes('hybrid')) score += 5;\n\n  const excluded = job._excluded_keywords || [];\n  if (excluded.some(kw => text.includes(kw.toLowerCase()))) score -= 30;\n\n  job.match_score = Math.min(100, Math.max(0, score));\n  results.push({ json: job });\n}\n\nreturn results;"}, "id": "score-jobs", "name": "Score & Match Jobs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 448]}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "score-check", "leftValue": "={{ $json.match_score }}", "rightValue": 60, "operator": {"type": "number", "operation": "gte"}}], "combinator": "and"}, "options": {}}, "id": "filter-low-score", "name": "Filter Low Score", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [1568, 448]}, {"parameters": {"jsCode": "// Generic descriptors \u2014 hardcoded, these never need to change\nconst GENERIC_STAFFING_KEYWORDS = [\n  'staffing','recruiting','recruitment','talent acquisition','headhunter',\n  'executive search','placement agency','temp agency','contingent workforce',\n  'msp','rpo','managed service provider','vendor management','contract staffing',\n  'staff augmentation','workforce solutions'\n];\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const job = { ...item.json };\n  const checkText = `${job.company_name} ${job.job_description}`.toLowerCase();\n\n  // Sheet-based exclusions \u2014 specific company names (staffing firms + enterprises)\n  const sheetExclusions = job._excluded_companies || [];\n\n  // 1. Check generic staffing keywords\n  const genericMatch = GENERIC_STAFFING_KEYWORDS.find(kw => checkText.includes(kw));\n\n  // 2. Check sheet exclusions\n  const sheetMatch = sheetExclusions.find(ex => ex.name && checkText.includes(ex.name));\n\n  if (genericMatch) {\n    job.pre_filter_result = 'staffing_firm';\n    job.company_classification = 'staffing_firm';\n    job.company_classification_reason = `Keyword match: \"${genericMatch}\"`;\n  } else if (sheetMatch) {\n    job.pre_filter_result = 'staffing_firm'; // routes to rejected path in Route by Pre-Filter\n    job.company_classification = sheetMatch.type === 'enterprise' ? 'excluded_enterprise' : 'staffing_firm';\n    job.company_classification_reason = `Sheet exclusion (${sheetMatch.type}): \"${sheetMatch.name}\"`;\n  } else {\n    const suspiciousPatterns = /(consulting|solutions|group|partners|services|associates|resources)$/i;\n    job.pre_filter_result = suspiciousPatterns.test(job.company_name.trim()) ? 'unclear' : 'likely_direct';\n  }\n\n  results.push({ json: job });\n}\n\nreturn results;"}, "id": "staffing-keyword-filter", "name": "Staffing Keyword Filter", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1792, 448]}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.pre_filter_result }}", "rightValue": "staffing_firm", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Staffing Firm"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.pre_filter_result }}", "rightValue": "unclear", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Unclear"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.pre_filter_result }}", "rightValue": "likely_direct", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Direct"}]}, "options": {}}, "id": "route-pre-filter", "name": "Route by Pre-Filter", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [2016, 432]}, {"parameters": {"jsCode": "// Restore original opportunity fields after OpenAI call replaced item.json\nconst results = [];\nconst originalItems = $('Preserve Pre-LLM Data').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const orig = originalItems[i] ? originalItems[i].json : {};\n\n  let company_classification = 'unclear';\n  let company_classification_reason = 'LLM classification';\n\n  try {\n    const content = item.json.choices?.[0]?.message?.content || '{}';\n    const parsed = JSON.parse(content.replace(/```json?/g,'').replace(/```/g,'').trim());\n    company_classification = parsed.classification || 'unclear';\n    company_classification_reason = parsed.reason || 'LLM classification';\n\n    // Reject enterprise companies (over $100MM) \u00e2\u20ac\u201d treated same as staffing firms\n    if (parsed.company_size_tier === 'enterprise') {\n      company_classification = 'staffing_firm';\n      company_classification_reason = 'Enterprise company excluded: ' + (parsed.reason || 'revenue likely over $100MM');\n    }\n  } catch(e) {\n    company_classification = 'unclear';\n    company_classification_reason = 'Parse error';\n  }\n\n  results.push({ json: {\n    ...orig,\n    company_classification,\n    company_classification_reason\n  }});\n}\nreturn results;"}, "id": "parse-llm-classification", "name": "Parse LLM Classification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2688, 208]}, {"parameters": {"jsCode": "// Explicitly tag these items as direct employer \u00e2\u20ac\u201d no staffing keywords detected\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    company_classification: 'direct_employer',\n    company_classification_reason: 'Keyword pre-filter: no staffing keywords detected'\n  }\n}));"}, "id": "set-direct-classification", "name": "Set Direct Classification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2688, 688]}, {"parameters": {}, "id": "merge-classifications", "name": "Merge Classifications", "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [2912, 208]}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.company_classification }}", "rightValue": "direct_employer", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Direct Employer"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.company_classification }}", "rightValue": "staffing_firm", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Staffing Firm"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.company_classification }}", "rightValue": "unclear", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Unclear"}]}, "options": {}}, "id": "route-by-classification", "name": "Route by Classification", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [3136, 192]}, {"parameters": {"options": {}}, "id": "set-status-rejected", "name": "Set Status Rejected", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [3360, 352]}, {"parameters": {"options": {}}, "id": "set-status-needs-review", "name": "Set Status Needs Review", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [3360, 544]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"opportunity_id": "={{ $json.opportunity_id }}", "company_name": "={{ $json.company_name }}", "company_domain": "={{ $json.company_domain }}", "company_type": "={{ $json.company_classification }}", "job_title": "={{ $json.job_title }}", "location": "={{ $json.location }}", "source_url": "={{ $json.source_url }}", "date_found": "={{ $json.date_found }}", "match_score": "={{ $json.match_score }}", "company_classification": "={{ $json.company_classification }}", "company_classification_reason": "={{ $json.company_classification_reason }}", "status": "rejected"}}, "options": {}}, "id": "write-rejected", "name": "Write Rejected to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [3584, 352], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"opportunity_id": "={{ $json.opportunity_id }}", "company_name": "={{ $json.company_name }}", "company_domain": "={{ $json.company_domain }}", "company_type": "={{ $json.company_classification }}", "job_title": "={{ $json.job_title }}", "location": "={{ $json.location }}", "source_url": "={{ $json.source_url }}", "date_found": "={{ $json.date_found }}", "match_score": "={{ $json.match_score }}", "company_classification": "={{ $json.company_classification }}", "company_classification_reason": "={{ $json.company_classification_reason }}", "status": "needs_review"}}, "options": {}}, "id": "write-needs-review", "name": "Write Needs Review to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [3584, 544], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "const results = [];\nconst seen = new Set();\n\nfor (const item of $input.all()) {\n  const job = { ...item.json };\n  const key = `${(job.company_domain||'').toLowerCase()}|${(job.job_title||'').toLowerCase()}|${(job.location||'').toLowerCase()}`;\n  job._dedup_key = key;\n  if (!seen.has(key)) {\n    seen.add(key);\n    job.status = 'qualified';\n    results.push({ json: job });\n  }\n}\nreturn results;"}, "id": "dedup-check", "name": "Dedup Check", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3360, 160]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"opportunity_id": "={{ $json.opportunity_id }}", "company_name": "={{ $json.company_name }}", "company_domain": "={{ $json.company_domain }}", "company_type": "={{ $json.company_classification }}", "company_summary": "", "job_title": "={{ $json.job_title }}", "location": "={{ $json.location }}", "employment_type": "={{ $json.employment_type }}", "source_name": "={{ $json.source_name }}", "source_url": "={{ $json.source_url }}", "posted_date": "={{ $json.posted_date }}", "date_found": "={{ $json.date_found }}", "job_description": "={{ $json.job_description }}", "skills": "={{ $json.skills }}", "seniority": "={{ $json.seniority }}", "match_score": "={{ $json.match_score }}", "company_classification": "={{ $json.company_classification }}", "company_classification_reason": "={{ $json.company_classification_reason }}", "status": "qualified", "approved": "", "added_date": "={{ $now.toISODate() }}"}}, "options": {}}, "id": "write-qualified", "name": "Write Qualified Opportunity", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [3584, 160], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {}, "id": "error-handler", "name": "Error Handler", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [0, 912]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Errors", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"workflow_name": "WF1: Lead Discovery", "node_name": "={{ $json.execution.lastNodeExecuted }}", "error_message": "={{ $json.execution.error.message }}", "input_data": "={{ JSON.stringify($json.execution.error.context || {}) }}"}}, "options": {}}, "id": "write-error", "name": "Write Error to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [224, 912], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"content": "## WF1: Lead Discovery\nSearches JSearch for job openings matching targeting criteria.\n\n**Env vars:** JSEARCH_API_KEY, OPENAI_API_KEY, GOOGLE_SHEETS_ID", "height": 200, "width": 280}, "id": "sticky-note-1", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-208, 208]}, {"parameters": {"workflowId": "2uWLVQ4JS1zXwztO", "options": {}}, "id": "trigger-contact-discovery", "name": "Trigger Contact Discovery", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1, "position": [4032, 160], "disabled": true}, {"parameters": {"jsCode": "// Google Sheets append returns minimal fields \u00e2\u20ac\u201d re-merge with full opportunity data\nconst dedupItems = $('Dedup Check').all();\nreturn $input.all().map((item, idx) => {\n  const original = dedupItems[idx] ? dedupItems[idx].json : {};\n  return { json: { ...original, ...item.json } };\n})"}, "id": "prepare-wf2-payload", "name": "Prepare WF2 Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3808, 160], "disabled": true}, {"parameters": {"jsCode": "return $input.all().map(item => ({ json: { ...item.json } }));"}, "id": "wf1-preserve-pre-llm", "name": "Preserve Pre-LLM Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2240, 208]}, {"parameters": {"jsCode": "// Filter out-of-state jobs from raw JSearch responses\n// Handles both 2-letter state codes (CA) and full names (California)\n// Remote jobs pass through for manual review/approval\n\nconst STATE_NAMES = {\n  AL:'Alabama',AK:'Alaska',AZ:'Arizona',AR:'Arkansas',CA:'California',\n  CO:'Colorado',CT:'Connecticut',DE:'Delaware',FL:'Florida',GA:'Georgia',\n  HI:'Hawaii',ID:'Idaho',IL:'Illinois',IN:'Indiana',IA:'Iowa',\n  KS:'Kansas',KY:'Kentucky',LA:'Louisiana',ME:'Maine',MD:'Maryland',\n  MA:'Massachusetts',MI:'Michigan',MN:'Minnesota',MS:'Mississippi',MO:'Missouri',\n  MT:'Montana',NE:'Nebraska',NV:'Nevada',NH:'New Hampshire',NJ:'New Jersey',\n  NM:'New Mexico',NY:'New York',NC:'North Carolina',ND:'North Dakota',OH:'Ohio',\n  OK:'Oklahoma',OR:'Oregon',PA:'Pennsylvania',RI:'Rhode Island',SC:'South Carolina',\n  SD:'South Dakota',TN:'Tennessee',TX:'Texas',UT:'Utah',VT:'Vermont',\n  VA:'Virginia',WA:'Washington',WV:'West Virginia',WI:'Wisconsin',WY:'Wyoming'\n};\n\nconst buildSearchItems = $('Build Search Combinations').all();\nconst results = [];\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const combo = buildSearchItems[i] ? buildSearchItems[i].json : {};\n\n  // Extract 2-letter state code from location (e.g. 'Los Angeles, CA' -> 'CA')\n  const targetLocation = combo.location || '';\n  const stateMatch = targetLocation.match(/\\b([A-Z]{2})\\b/);\n  const targetStateCode = stateMatch ? stateMatch[1] : '';\n  const targetStateName = targetStateCode ? (STATE_NAMES[targetStateCode] || '') : '';\n\n  const jobs = item.json.data || [];\n  const originalCount = jobs.length;\n\n  const filtered = jobs.filter(job => {\n    // Only drop if job_state is non-empty AND explicitly a different state\n    // Compare against both 2-letter code (CA) and full name (California)\n    if (targetStateCode && job.job_state) {\n      const s = job.job_state.trim();\n      if (s !== targetStateCode && s !== targetStateName) return false;\n    }\n    return true;\n  });\n\n  results.push({\n    json: {\n      ...item.json,\n      data: filtered,\n      _original_count: originalCount,\n      _filtered_count: filtered.length\n    }\n  });\n}\n\nreturn results;"}, "id": "filter-location-remote", "name": "Filter by Location & Remote", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [896, 448]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ 'Bearer ' + $vars.OPENAI_API_KEY }}"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({model:'gpt-4o-mini',max_tokens:150,messages:[{role:'system',content:'Classify this company. Reply with ONLY a JSON object: {\"classification\":\"direct_employer\" or \"staffing_firm\" or \"unclear\", \"company_size_tier\":\"small\" or \"mid_market\" or \"enterprise\", \"reason\":\"one sentence\"}. Enterprise means publicly traded, Fortune 500, or revenue over $100M. Mid_market means roughly 100-1000 employees. Small means under 100 employees or startup. When uncertain lean toward small or mid_market.'},{role:'user',content:'Company: '+$json.company_name+' | Job Title: '+$json.job_title+'. Is this a direct employer or staffing firm? What is the company size tier?'}]}) }}", "options": {}}, "id": "llm-classify-unclear", "name": "LLM Classify Company", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2464, 208]}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Excluded Companies", "mode": "name"}, "filtersUI": {"values": []}, "options": {}}, "id": "read-excluded-companies", "name": "Read Excluded Companies", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [448, 640], "executeOnce": true, "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}], "connections": {"Read Targeting Sheet": {"main": [[{"node": "Read Excluded Companies", "type": "main", "index": 0}]]}, "Normalize Jobs": {"main": [[{"node": "Score & Match Jobs", "type": "main", "index": 0}]]}, "Score & Match Jobs": {"main": [[{"node": "Filter Low Score", "type": "main", "index": 0}]]}, "Filter Low Score": {"main": [[{"node": "Staffing Keyword Filter", "type": "main", "index": 0}]]}, "Staffing Keyword Filter": {"main": [[{"node": "Route by Pre-Filter", "type": "main", "index": 0}]]}, "Route by Pre-Filter": {"main": [[{"node": "Set Status Rejected", "type": "main", "index": 0}], [{"node": "Preserve Pre-LLM Data", "type": "main", "index": 0}], [{"node": "Set Direct Classification", "type": "main", "index": 0}]]}, "Parse LLM Classification": {"main": [[{"node": "Merge Classifications", "type": "main", "index": 0}]]}, "Set Direct Classification": {"main": [[{"node": "Merge Classifications", "type": "main", "index": 1}]]}, "Merge Classifications": {"main": [[{"node": "Route by Classification", "type": "main", "index": 0}]]}, "Route by Classification": {"main": [[{"node": "Dedup Check", "type": "main", "index": 0}], [{"node": "Set Status Rejected", "type": "main", "index": 0}], [{"node": "Set Status Needs Review", "type": "main", "index": 0}]]}, "Set Status Rejected": {"main": [[{"node": "Write Rejected to Sheet", "type": "main", "index": 0}]]}, "Set Status Needs Review": {"main": [[{"node": "Write Needs Review to Sheet", "type": "main", "index": 0}]]}, "Error Handler": {"main": [[{"node": "Write Error to Sheet", "type": "main", "index": 0}]]}, "Manual Trigger": {"main": [[{"node": "Read Targeting Sheet", "type": "main", "index": 0}]]}, "Schedule Trigger": {"main": [[{"node": "Read Targeting Sheet", "type": "main", "index": 0}]]}, "Build Search Combinations": {"main": [[{"node": "JSearch API", "type": "main", "index": 0}]]}, "Write Qualified Opportunity": {"main": [[{"node": "Prepare WF2 Payload", "type": "main", "index": 0}]]}, "Prepare WF2 Payload": {"main": [[{"node": "Trigger Contact Discovery", "type": "main", "index": 0}]]}, "JSearch API": {"main": [[{"node": "Filter by Location & Remote", "type": "main", "index": 0}]]}, "Filter by Location & Remote": {"main": [[{"node": "Normalize Jobs", "type": "main", "index": 0}]]}, "Dedup Check": {"main": [[{"node": "Write Qualified Opportunity", "type": "main", "index": 0}]]}, "Preserve Pre-LLM Data": {"main": [[{"node": "LLM Classify Company", "type": "main", "index": 0}]]}, "LLM Classify Company": {"main": [[{"node": "Parse LLM Classification", "type": "main", "index": 0}]]}, "Read Excluded Companies": {"main": [[{"node": "Build Search Combinations", "type": "main", "index": 0}]]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "availableInMCP": false, "executionOrder": "v1", "binaryMode": "separate"}, "staticData": {"node:Schedule Trigger": {"recurrenceRules": []}}, "meta": null, "pinData": {}, "versionId": "fe40c136-ec6d-4eaa-8aa3-7cd1793bb8ab", "activeVersionId": "0fd86a84-188c-4c0c-9553-f9f1cb125296", "versionCounter": 16, "triggerCount": 1, "shared": [{"updatedAt": "2026-04-07T17:18:15.134Z", "createdAt": "2026-04-07T17:18:15.134Z", "role": "workflow:owner", "workflowId": "3qPmKNCZseEzvFNj", "projectId": "vBgsLJa2v6uIUdQM", "project": {"updatedAt": "2026-03-26T23:07:09.721Z", "createdAt": "2026-03-26T23:07:03.922Z", "id": "vBgsLJa2v6uIUdQM", "name": "Michael Byrne <michael@10pillarssolutions.com>", "type": "personal", "icon": null, "description": null, "creatorId": "df188ec2-208c-4f14-a4f7-25f762dc17a3"}}], "tags": [], "activeVersion": {"updatedAt": "2026-04-13T21:17:38.607Z", "createdAt": "2026-04-13T21:17:38.607Z", "versionId": "0fd86a84-188c-4c0c-9553-f9f1cb125296", "workflowId": "3qPmKNCZseEzvFNj", "nodes": [{"parameters": {}, "id": "trigger-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 304]}, {"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 7 * * 1-5"}]}}, "id": "trigger-schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [0, 512]}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Targeting", "mode": "name"}, "filtersUI": {"values": []}, "options": {}}, "id": "read-targeting", "name": "Read Targeting Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [448, 384], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "// Normalize object keys \u2014 strips hidden chars (zero-width spaces, NBSP, BOM, etc.)\nfunction cleanKeys(obj) {\n  const clean = {};\n  for (const key of Object.keys(obj)) {\n    const normalKey = key.replace(/[\\s\\u00A0\\u200B\\u200C\\u200D\\uFEFF]+/g, '_').replace(/^_+|_+$/g, '').toLowerCase();\n    clean[normalKey] = obj[key];\n  }\n  return clean;\n}\n\n// Load excluded companies from sheet (specific firm + enterprise names)\nconst excludedCompanies = $('Read Excluded Companies').all()\n  .filter(r => r.json.company_name)\n  .map(r => ({\n    name: (r.json.company_name || '').toLowerCase().trim(),\n    type: (r.json.type || 'excluded').toLowerCase().trim()\n  }));\n\nconst combos = [];\n\nfor (const item of $input.all()) {\n  const row = cleanKeys(item.json);\n\n  const isActive = row.active === true || String(row.active).toLowerCase() === 'true';\n  if (!isActive) continue;\n\n  const roles = String(row.role_keywords || '').split(';').map(r => r.trim()).filter(Boolean);\n  const locs = String(row.locations || '').split(';').map(l => l.trim()).filter(Boolean);\n  const excludedKeywords = String(row.excluded_keywords || '').split(';').map(k => k.trim()).filter(Boolean);\n\n  for (const role of roles) {\n    for (const loc of locs) {\n      combos.push({\n        search_id: row.search_id || '',\n        query: role,\n        location: loc,\n        employment_type: String(row.employment_type || 'FULLTIME').toUpperCase().replace(/\\s+/g, ''),\n        excluded_keywords: excludedKeywords,\n        _excluded_companies: excludedCompanies\n      });\n    }\n  }\n}\n\nreturn combos.map(c => ({ json: c }));"}, "id": "build-search-combos", "name": "Build Search Combinations", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 384]}, {"parameters": {"url": "https://jsearch.p.rapidapi.com/search", "sendQuery": true, "queryParameters": {"parameters": [{"name": "query", "value": "={{ $json.query }}"}, {"name": "location", "value": "={{ $json.location }}"}, {"name": "employment_types", "value": "={{ $json.employment_type }}"}, {"name": "date_posted", "value": "3days"}, {"name": "num_pages", "value": "5"}, {"name": "remote_jobs_only", "value": "false"}, {"name": "country", "value": "us"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-RapidAPI-Key", "value": "={{ $vars.JSEARCH_API_KEY }}"}, {"name": "X-RapidAPI-Host", "value": "jsearch.p.rapidapi.com"}]}, "options": {"response": {"response": {"neverError": true}}}}, "id": "call-jsearch", "name": "JSearch API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1104, 384], "continueOnFail": true}, {"parameters": {"jsCode": "// Normalize JSearch response to common schema\nconst results = [];\nconst crypto = require('crypto');\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const jobs = data.data || [];\n\n  for (const job of jobs) {\n    const companyDomain = (job.employer_website || '').replace(/https?:\\/\\/(www\\.)?/, '').split('/')[0].toLowerCase();\n    const key = `${companyDomain}|${(job.job_title || '').toLowerCase()}|${(job.job_city || '').toLowerCase()}`;\n    const opportunityId = crypto.createHash('md5').update(key).digest('hex').substring(0, 12);\n\n    let employmentType = 'unknown';\n    const jt = (job.job_employment_type || '').toUpperCase();\n    if (jt.includes('CONTRACT')) employmentType = 'contract';\n    else if (jt.includes('FULLTIME') || jt.includes('FULL_TIME')) employmentType = 'direct_hire';\n    else if (jt.includes('PART')) employmentType = 'part_time';\n\n    const skillKeywords = ['python','javascript','typescript','react','node','sql','java','go','rust','aws','azure','gcp','kubernetes','docker','terraform'];\n    const skills = skillKeywords.filter(sk => JSON.stringify(job).toLowerCase().includes(sk)).join(', ');\n\n    results.push({\n      json: {\n        opportunity_id: opportunityId,\n        company_name: job.employer_name || '',\n        company_domain: companyDomain,\n        job_title: job.job_title || '',\n        location: `${job.job_city || ''}, ${job.job_state || ''}`.trim().replace(/^,\\s*/, ''),\n        employment_type: employmentType,\n        source_name: 'JSearch/RapidAPI',\n        source_url: job.job_apply_link || job.job_google_link || '',\n        posted_date: job.job_posted_at_datetime_utc || '',\n        date_found: new Date().toISOString(),\n        job_description: (job.job_description || '').substring(0, 2000),\n        skills: skills,\n        seniority: job.job_required_experience?.required_experience_in_months > 60 ? 'senior' : job.job_required_experience?.required_experience_in_months > 24 ? 'mid' : 'junior',\n        match_score: 0,\n        company_classification: '',\n        company_classification_reason: '',\n        status: 'discovered',\n        _excluded_keywords: item.json._excluded_keywords || [],\n        _excluded_company_types: item.json._excluded_company_types || []\n      }\n    });\n  }\n}\n\nreturn results;"}, "id": "normalize-jobs", "name": "Normalize Jobs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1328, 384]}, {"parameters": {"jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const job = { ...item.json };\n  let score = 50;\n\n  const text = `${job.job_title} ${job.job_description}`.toLowerCase();\n  const title = job.job_title.toLowerCase();\n\n  if (['engineer','developer','manager','director','analyst','architect','lead'].some(t => title.includes(t))) score += 15;\n  if (['senior','sr.','lead','principal','staff','director','vp'].some(s => title.includes(s))) score += 10;\n  if (job.source_url) score += 5;\n  if (text.includes('remote') || text.includes('hybrid')) score += 5;\n\n  const excluded = job._excluded_keywords || [];\n  if (excluded.some(kw => text.includes(kw.toLowerCase()))) score -= 30;\n\n  job.match_score = Math.min(100, Math.max(0, score));\n  results.push({ json: job });\n}\n\nreturn results;"}, "id": "score-jobs", "name": "Score & Match Jobs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, 384]}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "score-check", "leftValue": "={{ $json.match_score }}", "rightValue": 60, "operator": {"type": "number", "operation": "gte"}}], "combinator": "and"}, "options": {}}, "id": "filter-low-score", "name": "Filter Low Score", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [1760, 384]}, {"parameters": {"jsCode": "// Generic descriptors \u2014 hardcoded, these never need to change\nconst GENERIC_STAFFING_KEYWORDS = [\n  'staffing','recruiting','recruitment','talent acquisition','headhunter',\n  'executive search','placement agency','temp agency','contingent workforce',\n  'msp','rpo','managed service provider','vendor management','contract staffing',\n  'staff augmentation','workforce solutions'\n];\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const job = { ...item.json };\n  const checkText = `${job.company_name} ${job.job_description}`.toLowerCase();\n\n  // Sheet-based exclusions \u2014 specific company names (staffing firms + enterprises)\n  const sheetExclusions = job._excluded_companies || [];\n\n  // 1. Check generic staffing keywords\n  const genericMatch = GENERIC_STAFFING_KEYWORDS.find(kw => checkText.includes(kw));\n\n  // 2. Check sheet exclusions\n  const sheetMatch = sheetExclusions.find(ex => ex.name && checkText.includes(ex.name));\n\n  if (genericMatch) {\n    job.pre_filter_result = 'staffing_firm';\n    job.company_classification = 'staffing_firm';\n    job.company_classification_reason = `Keyword match: \"${genericMatch}\"`;\n  } else if (sheetMatch) {\n    job.pre_filter_result = 'staffing_firm'; // routes to rejected path in Route by Pre-Filter\n    job.company_classification = sheetMatch.type === 'enterprise' ? 'excluded_enterprise' : 'staffing_firm';\n    job.company_classification_reason = `Sheet exclusion (${sheetMatch.type}): \"${sheetMatch.name}\"`;\n  } else {\n    const suspiciousPatterns = /(consulting|solutions|group|partners|services|associates|resources)$/i;\n    job.pre_filter_result = suspiciousPatterns.test(job.company_name.trim()) ? 'unclear' : 'likely_direct';\n  }\n\n  results.push({ json: job });\n}\n\nreturn results;"}, "id": "staffing-keyword-filter", "name": "Staffing Keyword Filter", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1984, 384]}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.pre_filter_result }}", "rightValue": "staffing_firm", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Staffing Firm"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.pre_filter_result }}", "rightValue": "unclear", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Unclear"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.pre_filter_result }}", "rightValue": "likely_direct", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Direct"}]}, "options": {}}, "id": "route-pre-filter", "name": "Route by Pre-Filter", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [2208, 384]}, {"parameters": {"jsCode": "// Restore original opportunity fields after OpenAI call replaced item.json\nconst results = [];\nconst originalItems = $('Preserve Pre-LLM Data').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const orig = originalItems[i] ? originalItems[i].json : {};\n\n  let company_classification = 'unclear';\n  let company_classification_reason = 'LLM classification';\n\n  try {\n    const content = item.json.choices?.[0]?.message?.content || '{}';\n    const parsed = JSON.parse(content.replace(/```json?/g,'').replace(/```/g,'').trim());\n    company_classification = parsed.classification || 'unclear';\n    company_classification_reason = parsed.reason || 'LLM classification';\n\n    // Reject enterprise companies (over $100MM) \u00e2\u20ac\u201d treated same as staffing firms\n    if (parsed.company_size_tier === 'enterprise') {\n      company_classification = 'staffing_firm';\n      company_classification_reason = 'Enterprise company excluded: ' + (parsed.reason || 'revenue likely over $100MM');\n    }\n  } catch(e) {\n    company_classification = 'unclear';\n    company_classification_reason = 'Parse error';\n  }\n\n  results.push({ json: {\n    ...orig,\n    company_classification,\n    company_classification_reason\n  }});\n}\nreturn results;"}, "id": "parse-llm-classification", "name": "Parse LLM Classification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2640, 288]}, {"parameters": {"jsCode": "// Explicitly tag these items as direct employer \u00e2\u20ac\u201d no staffing keywords detected\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    company_classification: 'direct_employer',\n    company_classification_reason: 'Keyword pre-filter: no staffing keywords detected'\n  }\n}));"}, "id": "set-direct-classification", "name": "Set Direct Classification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2432, 480]}, {"parameters": {}, "id": "merge-classifications", "name": "Merge Classifications", "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [2864, 384]}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.company_classification }}", "rightValue": "direct_employer", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Direct Employer"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.company_classification }}", "rightValue": "staffing_firm", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Staffing Firm"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.company_classification }}", "rightValue": "unclear", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Unclear"}]}, "options": {}}, "id": "route-by-classification", "name": "Route by Classification", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [3088, 384]}, {"parameters": {"options": {}}, "id": "set-status-rejected", "name": "Set Status Rejected", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [3312, 512]}, {"parameters": {"options": {}}, "id": "set-status-needs-review", "name": "Set Status Needs Review", "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [3312, 640]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"opportunity_id": "={{ $json.opportunity_id }}", "company_name": "={{ $json.company_name }}", "company_domain": "={{ $json.company_domain }}", "company_type": "={{ $json.company_classification }}", "job_title": "={{ $json.job_title }}", "location": "={{ $json.location }}", "source_url": "={{ $json.source_url }}", "date_found": "={{ $json.date_found }}", "match_score": "={{ $json.match_score }}", "company_classification": "={{ $json.company_classification }}", "company_classification_reason": "={{ $json.company_classification_reason }}", "status": "rejected"}}, "options": {}}, "id": "write-rejected", "name": "Write Rejected to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [3520, 512], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"opportunity_id": "={{ $json.opportunity_id }}", "company_name": "={{ $json.company_name }}", "company_domain": "={{ $json.company_domain }}", "company_type": "={{ $json.company_classification }}", "job_title": "={{ $json.job_title }}", "location": "={{ $json.location }}", "source_url": "={{ $json.source_url }}", "date_found": "={{ $json.date_found }}", "match_score": "={{ $json.match_score }}", "company_classification": "={{ $json.company_classification }}", "company_classification_reason": "={{ $json.company_classification_reason }}", "status": "needs_review"}}, "options": {}}, "id": "write-needs-review", "name": "Write Needs Review to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [3520, 640], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "const results = [];\nconst seen = new Set();\n\nfor (const item of $input.all()) {\n  const job = { ...item.json };\n  const key = `${(job.company_domain||'').toLowerCase()}|${(job.job_title||'').toLowerCase()}|${(job.location||'').toLowerCase()}`;\n  job._dedup_key = key;\n  if (!seen.has(key)) {\n    seen.add(key);\n    job.status = 'qualified';\n    results.push({ json: job });\n  }\n}\nreturn results;"}, "id": "dedup-check", "name": "Dedup Check", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3312, 368]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Opportunities", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"opportunity_id": "={{ $json.opportunity_id }}", "company_name": "={{ $json.company_name }}", "company_domain": "={{ $json.company_domain }}", "company_type": "={{ $json.company_classification }}", "company_summary": "", "job_title": "={{ $json.job_title }}", "location": "={{ $json.location }}", "employment_type": "={{ $json.employment_type }}", "source_name": "={{ $json.source_name }}", "source_url": "={{ $json.source_url }}", "posted_date": "={{ $json.posted_date }}", "date_found": "={{ $json.date_found }}", "job_description": "={{ $json.job_description }}", "skills": "={{ $json.skills }}", "seniority": "={{ $json.seniority }}", "match_score": "={{ $json.match_score }}", "company_classification": "={{ $json.company_classification }}", "company_classification_reason": "={{ $json.company_classification_reason }}", "status": "qualified", "approved": "", "added_date": "={{ $now.toISODate() }}"}}, "options": {}}, "id": "write-qualified", "name": "Write Qualified Opportunity", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [3520, 160], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {}, "id": "error-handler", "name": "Error Handler", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [0, 720]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Errors", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"workflow_name": "WF1: Lead Discovery", "node_name": "={{ $json.execution.lastNodeExecuted }}", "error_message": "={{ $json.execution.error.message }}", "input_data": "={{ JSON.stringify($json.execution.error.context || {}) }}"}}, "options": {}}, "id": "write-error", "name": "Write Error to Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [224, 720], "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}, {"parameters": {"content": "## WF1: Lead Discovery\nSearches JSearch for job openings matching targeting criteria.\n\n**Env vars:** JSEARCH_API_KEY, OPENAI_API_KEY, GOOGLE_SHEETS_ID", "height": 200, "width": 280}, "id": "sticky-note-1", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-208, 208]}, {"id": "trigger-contact-discovery", "name": "Trigger Contact Discovery", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1, "position": [3968, 160], "parameters": {"workflowId": "2uWLVQ4JS1zXwztO"}, "disabled": true}, {"id": "prepare-wf2-payload", "name": "Prepare WF2 Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3744, 160], "parameters": {"jsCode": "// Google Sheets append returns minimal fields \u00e2\u20ac\u201d re-merge with full opportunity data\nconst dedupItems = $('Dedup Check').all();\nreturn $input.all().map((item, idx) => {\n  const original = dedupItems[idx] ? dedupItems[idx].json : {};\n  return { json: { ...original, ...item.json } };\n})"}, "disabled": true}, {"parameters": {"jsCode": "return $input.all().map(item => ({ json: { ...item.json } }));"}, "id": "wf1-preserve-pre-llm", "name": "Preserve Pre-LLM Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2320, 288]}, {"id": "filter-location-remote", "name": "Filter by Location & Remote", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1216, 384], "parameters": {"jsCode": "// Filter out-of-state jobs from raw JSearch responses\n// Handles both 2-letter state codes (CA) and full names (California)\n// Remote jobs pass through for manual review/approval\n\nconst STATE_NAMES = {\n  AL:'Alabama',AK:'Alaska',AZ:'Arizona',AR:'Arkansas',CA:'California',\n  CO:'Colorado',CT:'Connecticut',DE:'Delaware',FL:'Florida',GA:'Georgia',\n  HI:'Hawaii',ID:'Idaho',IL:'Illinois',IN:'Indiana',IA:'Iowa',\n  KS:'Kansas',KY:'Kentucky',LA:'Louisiana',ME:'Maine',MD:'Maryland',\n  MA:'Massachusetts',MI:'Michigan',MN:'Minnesota',MS:'Mississippi',MO:'Missouri',\n  MT:'Montana',NE:'Nebraska',NV:'Nevada',NH:'New Hampshire',NJ:'New Jersey',\n  NM:'New Mexico',NY:'New York',NC:'North Carolina',ND:'North Dakota',OH:'Ohio',\n  OK:'Oklahoma',OR:'Oregon',PA:'Pennsylvania',RI:'Rhode Island',SC:'South Carolina',\n  SD:'South Dakota',TN:'Tennessee',TX:'Texas',UT:'Utah',VT:'Vermont',\n  VA:'Virginia',WA:'Washington',WV:'West Virginia',WI:'Wisconsin',WY:'Wyoming'\n};\n\nconst buildSearchItems = $('Build Search Combinations').all();\nconst results = [];\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const combo = buildSearchItems[i] ? buildSearchItems[i].json : {};\n\n  // Extract 2-letter state code from location (e.g. 'Los Angeles, CA' -> 'CA')\n  const targetLocation = combo.location || '';\n  const stateMatch = targetLocation.match(/\\b([A-Z]{2})\\b/);\n  const targetStateCode = stateMatch ? stateMatch[1] : '';\n  const targetStateName = targetStateCode ? (STATE_NAMES[targetStateCode] || '') : '';\n\n  const jobs = item.json.data || [];\n  const originalCount = jobs.length;\n\n  const filtered = jobs.filter(job => {\n    // Only drop if job_state is non-empty AND explicitly a different state\n    // Compare against both 2-letter code (CA) and full name (California)\n    if (targetStateCode && job.job_state) {\n      const s = job.job_state.trim();\n      if (s !== targetStateCode && s !== targetStateName) return false;\n    }\n    return true;\n  });\n\n  results.push({\n    json: {\n      ...item.json,\n      data: filtered,\n      _original_count: originalCount,\n      _filtered_count: filtered.length\n    }\n  });\n}\n\nreturn results;"}}, {"id": "llm-classify-unclear", "name": "LLM Classify Company", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2432, 288], "parameters": {"method": "POST", "url": "https://api.openai.com/v1/chat/completions", "sendHeaders": true, "specifyHeaders": "keypair", "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ 'Bearer ' + $vars.OPENAI_API_KEY }}"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={{ JSON.stringify({model:'gpt-4o-mini',max_tokens:150,messages:[{role:'system',content:'Classify this company. Reply with ONLY a JSON object: {\"classification\":\"direct_employer\" or \"staffing_firm\" or \"unclear\", \"company_size_tier\":\"small\" or \"mid_market\" or \"enterprise\", \"reason\":\"one sentence\"}. Enterprise means publicly traded, Fortune 500, or revenue over $100M. Mid_market means roughly 100-1000 employees. Small means under 100 employees or startup. When uncertain lean toward small or mid_market.'},{role:'user',content:'Company: '+$json.company_name+' | Job Title: '+$json.job_title+'. Is this a direct employer or staffing firm? What is the company size tier?'}]}) }}"}}, {"id": "read-excluded-companies", "name": "Read Excluded Companies", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4, "position": [448, 640], "executeOnce": true, "parameters": {"documentId": {"__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_ID }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "Excluded Companies", "mode": "name"}, "filtersUI": {"values": []}, "options": {}}, "credentials": {"googleSheetsOAuth2Api": {"id": "7dIWwoowtD1RTjmu", "name": "Google Sheets account"}}}], "connections": {"Read Targeting Sheet": {"main": [[{"node": "Read Excluded Companies", "type": "main", "index": 0}, {"node": "Build Search Combinations", "type": "main", "index": 0}]]}, "Normalize Jobs": {"main": [[{"node": "Score & Match Jobs", "type": "main", "index": 0}]]}, "Score & Match Jobs": {"main": [[{"node": "Filter Low Score", "type": "main", "index": 0}]]}, "Filter Low Score": {"main": [[{"node": "Staffing Keyword Filter", "type": "main", "index": 0}]]}, "Staffing Keyword Filter": {"main": [[{"node": "Route by Pre-Filter", "type": "main", "index": 0}]]}, "Route by Pre-Filter": {"main": [[{"node": "Set Status Rejected", "type": "main", "index": 0}], [{"node": "Preserve Pre-LLM Data", "type": "main", "index": 0}], [{"node": "Set Direct Classification", "type": "main", "index": 0}]]}, "Parse LLM Classification": {"main": [[{"node": "Merge Classifications", "type": "main", "index": 0}]]}, "Set Direct Classification": {"main": [[{"node": "Merge Classifications", "type": "main", "index": 1}]]}, "Merge Classifications": {"main": [[{"node": "Route by Classification", "type": "main", "index": 0}]]}, "Route by Classification": {"main": [[{"node": "Dedup Check", "type": "main", "index": 0}], [{"node": "Set Status Rejected", "type": "main", "index": 0}], [{"node": "Set Status Needs Review", "type": "main", "index": 0}]]}, "Set Status Rejected": {"main": [[{"node": "Write Rejected to Sheet", "type": "main", "index": 0}]]}, "Set Status Needs Review": {"main": [[{"node": "Write Needs Review to Sheet", "type": "main", "index": 0}]]}, "Error Handler": {"main": [[{"node": "Write Error to Sheet", "type": "main", "index": 0}]]}, "Manual Trigger": {"main": [[{"node": "Read Targeting Sheet", "type": "main", "index": 0}]]}, "Schedule Trigger": {"main": [[{"node": "Read Targeting Sheet", "type": "main", "index": 0}]]}, "Build Search Combinations": {"main": [[{"node": "JSearch API", "type": "main", "index": 0}]]}, "Write Qualified Opportunity": {"main": [[{"node": "Prepare WF2 Payload", "type": "main", "index": 0}]]}, "Prepare WF2 Payload": {"main": [[{"node": "Trigger Contact Discovery", "type": "main", "index": 0}]]}, "JSearch API": {"main": [[{"node": "Filter by Location & Remote", "type": "main", "index": 0}]]}, "Filter by Location & Remote": {"main": [[{"node": "Normalize Jobs", "type": "main", "index": 0}]]}, "Dedup Check": {"main": [[{"node": "Write Qualified Opportunity", "type": "main", "index": 0}]]}, "Preserve Pre-LLM Data": {"main": [[{"node": "LLM Classify Company", "type": "main", "index": 0}]]}, "LLM Classify Company": {"main": [[{"node": "Parse LLM Classification", "type": "main", "index": 0}]]}}, "authors": "Michael Byrne", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-04-13T21:17:38.844Z", "id": 346, "workflowId": "3qPmKNCZseEzvFNj", "versionId": "0fd86a84-188c-4c0c-9553-f9f1cb125296", "event": "activated", "userId": "df188ec2-208c-4f14-a4f7-25f762dc17a3"}, {"createdAt": "2026-04-13T21:31:59.922Z", "id": 348, "workflowId": "3qPmKNCZseEzvFNj", "versionId": "0fd86a84-188c-4c0c-9553-f9f1cb125296", "event": "activated", "userId": "df188ec2-208c-4f14-a4f7-25f762dc17a3"}, {"createdAt": "2026-04-13T21:17:38.738Z", "id": 345, "workflowId": "3qPmKNCZseEzvFNj", "versionId": "0fd86a84-188c-4c0c-9553-f9f1cb125296", "event": "deactivated", "userId": "df188ec2-208c-4f14-a4f7-25f762dc17a3"}, {"createdAt": "2026-04-13T21:31:59.819Z", "id": 347, "workflowId": "3qPmKNCZseEzvFNj", "versionId": "0fd86a84-188c-4c0c-9553-f9f1cb125296", "event": "deactivated", "userId": "df188ec2-208c-4f14-a4f7-25f762dc17a3"}]}}