staffing-bd-workflow/backups/wf3-backup-2026-04-07T21-40-34.json
{"updatedAt":"2026-04-07T21:21:28.286Z","createdAt":"2026-03-27T00:41:19.227Z","id":"T1jTXreAw0uZ2TOD","name":"WF3: Outreach Draft Generation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"wf3-trigger-exec","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304]},{"parameters":{},"id":"wf3-trigger-manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,512]},{"parameters":{"jsCode":"// Build structured LLM prompt for 3-email outreach sequence generation\nconst results = [];\n\nconst COMPANY_PROFILE = `\nABOUT 10 PILLARS SOLUTIONS\nWebsite: www.10pillarssolutions.com\n10 Pillars Solutions is a boutique staffing and workforce solutions firm. We partner with companies across the country to solve hiring challenges with speed, precision, and a consultative approach that larger firms simply can't match. We are not a transactional shop. We take time to understand the client's business, culture, pain points, and growth trajectory.\n\nWHAT WE PLACE\n- Information Technology: Software Engineers, Architects, Project Managers, Cybersecurity, Data & Analytics, Infrastructure\n- Engineering: Mechanical, Electrical, Civil, Systems, Manufacturing\n- Finance & Accounting: Controllers, CFOs, Analysts, AP/AR, Audit, Compliance\n- Sales & Business Development: Individual contributors to VP-level leadership\n- Construction Management: Project Managers, Superintendents, Estimators, Site Leads\n- And virtually any other professional skillset\n\nENGAGEMENT MODELS\n- Contract / Staff Augmentation: on-demand talent to scale fast\n- Contract-to-Hire: try before committing, with a clear path to permanent placement\n- Direct Hire: full retained or contingency search for permanent roles\n\nWHO WE SERVE\n- Enterprise organizations with high-volume or complex hiring needs\n- Small and mid-sized businesses that need a true partner, not just a vendor\n- SLED (State, Local Government and Education)\n- Both local on-site and fully remote placements across the U.S.\n\nWHY BOUTIQUE MATTERS\n- Direct access to decision-makers, no layers, no hand-offs\n- Faster turnaround, we move with urgency\n- Curated candidates, every submission is intentional, never a resume dump\n- Long-term partnership mindset\n`;\n\nconst TONE_INSTRUCTIONS = `\nWRITING RULES (follow strictly)\n1. Lead with THEM, not us. Reference something specific about the company, the role posted, a growth signal, or the hiring challenge. NEVER open with \"We are a staffing firm...\"\n2. Be consultative, not salesy. Position 10 Pillars as a problem-solving partner, not a vendor pushing resumes.\n3. Keep it SHORT and scannable. Hiring managers do not read long emails.\n4. Personalize every message. Use the company name and the specific role in every email. Generic equals deleted.\n5. No hype language, no fluff, no filler phrases. Avoid \"I hope this finds you well\" type openers unless minimal and natural.\n6. Do NOT use em dashes, en dashes, or double hyphens as dashes anywhere in the copy. Use commas, periods, or rewrite the sentence instead. This is critical and signals AI-generated content.\n7. Do not overstate candidate availability. Keep any candidate references general and credible.\n8. Do not invent facts not present in the provided data. If company context is limited, use a lighter personalization approach rather than fabricating details.\n9. Subject lines should be clear and simple, focused on the role and company.\n10. Do NOT include a website URL in the email body. It appears in the sender signature automatically.\n11. Sign all emails as: Michael\n12. FORMATTING: Each distinct thought or paragraph MUST be separated by a blank line (\\n\\n). Never write the email as one continuous block of text. The greeting, each paragraph, and the sign-off must each be on their own line with a blank line between them. Example structure:\\n\\nHi [Name],\\n\\n[Opening/personalization sentence(s)]\\n\\n[Value prop sentence(s)]\\n\\n[Right-person redirect + call to action]\\n\\nMichael\n`;\n\nfor (const item of $input.all()) {\n  const d = item.json;\n\n  const systemPrompt = `You are a senior business development writer for 10 Pillars Solutions, a boutique staffing firm.\n\nYour job is to write a 3-email outreach sequence for Michael at 10 Pillars Solutions. The emails target a hiring manager or HR contact at a direct-employer company that has an active job posting. The goal is to introduce 10 Pillars as a staffing partner that can help fill this role.\n${COMPANY_PROFILE}\n${TONE_INSTRUCTIONS}\n\nRespond ONLY with a valid JSON object using this exact structure. No markdown, no preamble, no dashes of any kind in the copy:\n{\n  \"email_1_subject\": \"...\",\n  \"email_1_body\": \"...\",\n  \"email_2_subject\": \"...\",\n  \"email_2_body\": \"...\",\n  \"email_3_subject\": \"...\",\n  \"email_3_body\": \"...\",\n  \"personalization_notes\": \"Brief notes on what was personalized and why\",\n  \"company_research_summary\": \"Summary of what is known about the company from the provided data\",\n  \"why_this_message_is_relevant\": \"Why this outreach is timely and relevant to this specific company and role\",\n  \"why_this_contact\": \"Why this specific contact was chosen (their title, seniority, and relevance to the hiring decision)\"\n}`;\n\n  const descLower = (d.job_description || '').substring(0, 800).toLowerCase();\n  let engagementAngle = 'contract, contract-to-hire, or direct hire';\n  if (/contract|c2h|temp|augmentation/.test(descLower)) engagementAngle = 'contract or contract-to-hire';\n  else if (/permanent|full.time|direct hire/.test(descLower)) engagementAngle = 'direct hire';\n\n  const contactFirst = (d.contact_name || '').split(' ')[0] || 'there';\n\n  const userPrompt = `Write a 3-email outreach sequence for this specific opportunity:\n\nTARGET COMPANY\nName: ${d.company_name}\nWebsite: ${d.company_domain ? 'https://' + d.company_domain : 'Unknown'}\nIndustry: ${d.company_industry || 'Not specified'}\nSummary: ${d.company_summary || 'Not available'}\nHiring Signals: ${Array.isArray(d._hiring_signals) ? d._hiring_signals.join(', ') : (d._hiring_signals || 'None noted')}\nTech Stack in JD: ${Array.isArray(d._tech_stack) ? d._tech_stack.join(', ') : (d._tech_stack || 'Not specified')}\n\nOPEN ROLE\nTitle: ${d.job_title}\nLocation: ${d.location}\nSeniority: ${d.seniority || 'Not specified'}\nKey Skills: ${d.skills || 'Not specified'}\nEngagement type to pitch: ${engagementAngle}\nJob Description Excerpt:\n${(d.job_description || '').substring(0, 800)}\n\nCONTACT\nName: ${d.contact_name || 'Hiring Manager'} (address by first name: ${contactFirst})\nTitle: ${d.contact_title || 'Unknown'}\nWhy contacted: ${d.contact_reasoning || 'Best available match at this company'}\n\n---\n\nEMAIL 1 REQUIREMENTS (Introductory Outreach):\n- Open by addressing ${contactFirst} by name on its own line, followed by a blank line\n- Paragraph 1: Mention the posted ${d.job_title} role. Include 1 to 2 sentences of personalization referencing something specific about ${d.company_name}, the role, or a hiring signal\n- Paragraph 2: 1 to 2 sentences on how 10 Pillars Solutions can support this search as a staffing partner\n- Paragraph 3: A natural line asking whether ${contactFirst} is the right contact, and if not, whether they can point you to the right person\n- Paragraph 4: Simple low-friction call to action (offer a 15-minute call or to share a few profiles)\n- Sign off: Michael on its own line\n- Each paragraph separated by a blank line. Total: 4 to 6 sentences across all paragraphs.\n\nEMAIL 2 REQUIREMENTS (Follow-Up):\n- Open by addressing ${contactFirst} by name on its own line, followed by a blank line\n- Paragraph 1: Reference your earlier email about the ${d.job_title} opening at ${d.company_name}. Ask how the search is going.\n- Paragraph 2: Mention 10 Pillars has solid candidates available for this type of role. Offer to discuss.\n- Sign off: Michael on its own line\n- Each paragraph separated by a blank line. Total: 3 to 4 sentences.\n\nEMAIL 3 REQUIREMENTS (Final Follow-Up):\n- Open by addressing ${contactFirst} by name on its own line, followed by a blank line\n- Paragraph 1: Acknowledge you have reached out a couple of times about the ${d.job_title} role at ${d.company_name}. Note politely you may not have reached the right person.\n- Paragraph 2: Ask who the right contact is, or express interest in becoming a qualified vendor for future hiring needs at ${d.company_name}.\n- Sign off: Michael on its own line\n- Each paragraph separated by a blank line. Total: 3 to 4 sentences.\n\n---\n\nWrite all six outreach assets fully personalized to this company, role, and contact. Use actual names, not placeholders. No dashes of any kind. Each paragraph on its own with a blank line between them.`;\n\n  results.push({\n    json: {\n      ...d,\n      _system_prompt: systemPrompt,\n      _user_prompt: userPrompt\n    }\n  });\n}\n\nreturn results;"},"id":"wf3-build-prompt","name":"Build Outreach Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"anthropic","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Claude"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"openai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OpenAI"}]},"options":{}},"id":"wf3-llm-router","name":"LLM Provider Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[672,384]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $vars.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $vars.ANTHROPIC_MODEL || 'claude-opus-4-6' }}\",\n  \"max_tokens\": 2500,\n  \"system\": {{ JSON.stringify($json._system_prompt) }},\n  \"messages\": [\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-claude-call","name":"Claude API Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,272],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 2500,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json._system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-openai-call","name":"OpenAI GPT-4o Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,512],"continueOnFail":true},{"parameters":{},"id":"wf3-merge-llm","name":"Merge LLM Output","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,384]},{"parameters":{"jsCode":"// Parse LLM response for 3-email outreach sequence (handles both OpenAI and Claude formats)\nconst results = [];\nconst originalItems = $('Build Outreach Prompt').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const d = item.json;\n  const orig = originalItems[i] ? originalItems[i].json : {};\n  let parsed = {};\n\n  try {\n    // OpenAI format\n    if (d.choices && d.choices[0]) {\n      const raw = d.choices[0].message?.content || '{}';\n      parsed = JSON.parse(raw);\n    }\n    // Claude format\n    else if (d.content && d.content[0]) {\n      const raw = d.content[0].text || '{}';\n      const cleaned = raw.replace(/```json?\\s*/g, '').replace(/```\\s*/g, '').trim();\n      parsed = JSON.parse(cleaned);\n    }\n    else if (d.email_1_subject) {\n      parsed = d;\n    }\n  } catch(e) {\n    const raw = d.choices?.[0]?.message?.content || d.content?.[0]?.text || '';\n    parsed = {\n      email_1_subject: 'Review needed -- parsing failed',\n      email_1_body: raw.substring(0, 1000),\n      email_2_subject: '',\n      email_2_body: '',\n      email_3_subject: '',\n      email_3_body: '',\n      personalization_notes: `LLM parse error: ${e.message}`,\n      company_research_summary: '',\n      why_this_message_is_relevant: '',\n      why_this_contact: ''\n    };\n  }\n\n  // Replace common placeholders with real values and strip dashes\n  const contactFirst = (orig.contact_name || '').split(' ')[0] || 'there';\n  const companyName = orig.company_name || '';\n  const replace = (str) => (str || '')\n    .replace(/\\[Hiring Manager\\]/gi, contactFirst)\n    .replace(/\\[First Name\\]/gi, contactFirst)\n    .replace(/\\[Name\\]/gi, contactFirst)\n    .replace(/\\[Your Name\\]/gi, 'Michael')\n    .replace(/\\[Company Name\\]/gi, companyName)\n    .replace(/\\[Company\\]/gi, companyName)\n    .replace(/\\s*\\u2014\\s*/g, ', ')   // em dash -> comma\n    .replace(/\\s*--\\s*/g, ', ')        // double hyphen -> comma\n    .replace(/\\s*\\u2013\\s*/g, ', ');   // en dash -> comma\n\n  results.push({\n    json: {\n      opportunity_id: orig.opportunity_id || '',\n      company_name: orig.company_name || '',\n      company_domain: orig.company_domain || '',\n      contact_name: orig.contact_name || '',\n      contact_title: orig.contact_title || '',\n      contact_email: orig.contact_email || '',\n      job_title: orig.job_title || '',\n      location: orig.location || '',\n      company_summary: orig.company_summary || '',\n      company_industry: orig.company_industry || '',\n      seniority: orig.seniority || '',\n      skills: orig.skills || '',\n      confidence_score: orig.confidence_score || '',\n      contact_reasoning: orig.contact_reasoning || '',\n      linkedin_url: orig.linkedin_url || '',\n      source_url: orig.source_url || '',\n      posted_date: orig.posted_date || '',\n      email_1_subject: replace(parsed.email_1_subject) || '',\n      email_1_body: replace(parsed.email_1_body) || '',\n      email_2_subject: replace(parsed.email_2_subject) || '',\n      email_2_body: replace(parsed.email_2_body) || '',\n      email_3_subject: replace(parsed.email_3_subject) || '',\n      email_3_body: replace(parsed.email_3_body) || '',\n      personalization_notes: parsed.personalization_notes || '',\n      company_research_summary: parsed.company_research_summary || '',\n      why_this_message_is_relevant: parsed.why_this_message_is_relevant || '',\n      why_this_contact: parsed.why_this_contact || '',\n      approval_status: 'pending',\n      sent_status: 'unsent',\n      sent_timestamp: '',\n      llm_provider: $vars.LLM_PROVIDER || 'openai',\n      generated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"},"id":"wf3-parse-response","name":"Parse LLM Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,384]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Outreach Queue","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","contact_name":"={{ $json.contact_name }}","company_name":"={{ $json.company_name }}","contact_email":"={{ $json.contact_email }}","job_title":"={{ $json.job_title }}","email_1_subject":"={{ $json.email_1_subject }}","email_1_body":"={{ $json.email_1_body }}","email_2_subject":"={{ $json.email_2_subject }}","email_2_body":"={{ $json.email_2_body }}","email_3_subject":"={{ $json.email_3_subject }}","email_3_body":"={{ $json.email_3_body }}","personalization_notes":"={{ $json.personalization_notes }}","company_research_summary":"={{ $json.company_research_summary }}","why_this_message_is_relevant":"={{ $json.why_this_message_is_relevant }}","why_this_contact":"={{ $json.why_this_contact }}","posted_date":"={{ $json.posted_date }}","source_url":"={{ $json.source_url }}","approval_status":"pending","sent_status":"unsent","follow_up_stage":"0","scheduled_date":"","company_domain":"={{ $json.company_domain }}"},"matchingColumns":[],"schema":[{"id":"opportunity_id","displayName":"opportunity_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_email","displayName":"contact_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_subject","displayName":"email_1_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_body","displayName":"email_1_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_subject","displayName":"email_2_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_body","displayName":"email_2_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_subject","displayName":"email_3_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_body","displayName":"email_3_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalization_notes","displayName":"personalization_notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_research_summary","displayName":"company_research_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"why_this_message_is_relevant","displayName":"why_this_message_is_relevant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"why_this_contact","displayName":"why_this_contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"approval_status","displayName":"approval_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_status","displayName":"sent_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_timestamp","displayName":"sent_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow_up_stage","displayName":"follow_up_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scheduled_date","displayName":"scheduled_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"wf3-write-outreach-queue","name":"Write to Outreach Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1552,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Opportunities","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","status":"draft_ready"},"matchingColumns":["opportunity_id"]},"options":{}},"id":"wf3-update-opp-status","name":"Update Opportunity to draft_ready","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1760,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"operation":"create","title":"={{ $json.company_name }} — Outreach Review — {{ $json.opportunity_id }}","folderId":"={{ $vars.GOOGLE_DOCS_FOLDER_ID }}","content":"={{ '== OUTREACH REVIEW PACKET ==\\nGenerated: ' + $json.generated_at + '\\nStatus: DRAFT - Pending Approval\\nOpportunity ID: ' + $json.opportunity_id + '\\n\\n== COMPANY ==\\nName: ' + $json.company_name + '\\nDomain: ' + $json.company_domain + '\\nIndustry: ' + ($json.company_industry || 'Unknown') + '\\nSummary: ' + ($json.company_summary || 'Not available') + '\\nResearch Summary: ' + ($json.company_research_summary || '') + '\\nWhy This Message Is Relevant: ' + ($json.why_this_message_is_relevant || '') + '\\n\\n== ROLE ==\\nTitle: ' + $json.job_title + '\\nLocation: ' + $json.location + '\\nSeniority: ' + ($json.seniority || 'Unknown') + '\\nSkills: ' + ($json.skills || 'Not specified') + '\\n\\n== CONTACT ==\\nName: ' + ($json.contact_name || 'Unknown') + '\\nTitle: ' + ($json.contact_title || 'Unknown') + '\\nEmail: ' + ($json.contact_email || 'Unknown') + '\\nLinkedIn: ' + ($json.linkedin_url || 'Not found') + '\\nConfidence: ' + $json.confidence_score + '/100\\nWhy This Contact: ' + ($json.why_this_contact || '') + '\\nSource: ' + ($json.contact_reasoning || '') + '\\n\\n== EMAIL 1 - INTRODUCTORY ==\\nSubject: ' + $json.email_1_subject + '\\n\\n' + $json.email_1_body + '\\n\\n---\\n\\n== EMAIL 2 - FOLLOW-UP ==\\nSubject: ' + $json.email_2_subject + '\\n\\n' + $json.email_2_body + '\\n\\n---\\n\\n== EMAIL 3 - FINAL / PARTNER QUALIFICATION ==\\nSubject: ' + $json.email_3_subject + '\\n\\n' + $json.email_3_body + '\\n\\n== PERSONALIZATION NOTES ==\\n' + $json.personalization_notes + '\\n\\n== REVIEWER NOTES ==\\n[ Add your notes here before approving ]\\n\\nTO APPROVE: Set approval_status = \"approved\" in Outreach Queue tab\\nOpportunity ID: ' + $json.opportunity_id }}"},"id":"wf3-create-doc","name":"Create Google Doc Review Packet","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1984,384],"credentials":{"googleDocsOAuth2Api":{"id":"hj2itwor0d9Gk0nP","name":"Google Docs account 2"}},"disabled":true},{"parameters":{},"id":"wf3-error-handler","name":"Error Handler","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,720]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Errors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","workflow_name":"WF3: Outreach Draft Generation","node_name":"={{ $json.execution.lastNodeExecuted }}","error_message":"={{ $json.execution.error.message }}","input_data":"={{ JSON.stringify($json.execution.error.context || {}) }}"}},"options":{}},"id":"wf3-write-error","name":"Write Error to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[224,720],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"content":"## WF3: Outreach Draft Generation\n\nGenerates personalized outreach using LLM.\n\n**Flow:**\n1. Receive opportunity + contact from WF2 (or manual)\n2. Build structured LLM prompt\n3. Route to OpenAI GPT-4o or Claude (via LLM_PROVIDER env)\n4. Parse JSON response\n5. Write to Outreach Queue sheet\n6. Update Opportunities status to draft_ready\n7. Create Google Doc review packet\n\n**Toggle LLM:**\n- LLM_PROVIDER=openai → GPT-4o\n- LLM_PROVIDER=anthropic → Claude\n\n**Env vars needed:**\n- LLM_PROVIDER\n- OPENAI_API_KEY\n- ANTHROPIC_API_KEY\n- ANTHROPIC_MODEL\n- GOOGLE_SHEETS_ID\n- GOOGLE_DOCS_FOLDER_ID","height":360,"width":280},"id":"wf3-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,208]}],"connections":{"Build Outreach Prompt":{"main":[[{"node":"LLM Provider Router","type":"main","index":0}]]},"LLM Provider Router":{"main":[[{"node":"Claude API Call","type":"main","index":0}],[{"node":"OpenAI GPT-4o Call","type":"main","index":0}]]},"Claude API Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":0}]]},"OpenAI GPT-4o Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":1}]]},"Merge LLM Output":{"main":[[{"node":"Parse LLM Response","type":"main","index":0}]]},"Parse LLM Response":{"main":[[{"node":"Write to Outreach Queue","type":"main","index":0}]]},"Write to Outreach Queue":{"main":[[{"node":"Update Opportunity to draft_ready","type":"main","index":0}]]},"Update Opportunity to draft_ready":{"main":[[{"node":"Create Google Doc Review Packet","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"Write Error to Sheet","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"295772af-7ad8-4095-aade-98cec8668c5f","activeVersionId":"295772af-7ad8-4095-aade-98cec8668c5f","versionCounter":72,"triggerCount":0,"shared":[{"updatedAt":"2026-03-27T00:41:19.228Z","createdAt":"2026-03-27T00:41:19.228Z","role":"workflow:owner","workflowId":"T1jTXreAw0uZ2TOD","projectId":"vBgsLJa2v6uIUdQM","project":{"updatedAt":"2026-03-26T23:07:09.721Z","createdAt":"2026-03-26T23:07:03.922Z","id":"vBgsLJa2v6uIUdQM","name":"Michael Byrne <michael@10pillarssolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-07T21:21:28.288Z","createdAt":"2026-04-07T21:21:28.288Z","versionId":"295772af-7ad8-4095-aade-98cec8668c5f","workflowId":"T1jTXreAw0uZ2TOD","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"wf3-trigger-exec","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304]},{"parameters":{},"id":"wf3-trigger-manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,512]},{"parameters":{"jsCode":"// Build structured LLM prompt for 3-email outreach sequence generation\nconst results = [];\n\nconst COMPANY_PROFILE = `\nABOUT 10 PILLARS SOLUTIONS\nWebsite: www.10pillarssolutions.com\n10 Pillars Solutions is a boutique staffing and workforce solutions firm. We partner with companies across the country to solve hiring challenges with speed, precision, and a consultative approach that larger firms simply can't match. We are not a transactional shop. We take time to understand the client's business, culture, pain points, and growth trajectory.\n\nWHAT WE PLACE\n- Information Technology: Software Engineers, Architects, Project Managers, Cybersecurity, Data & Analytics, Infrastructure\n- Engineering: Mechanical, Electrical, Civil, Systems, Manufacturing\n- Finance & Accounting: Controllers, CFOs, Analysts, AP/AR, Audit, Compliance\n- Sales & Business Development: Individual contributors to VP-level leadership\n- Construction Management: Project Managers, Superintendents, Estimators, Site Leads\n- And virtually any other professional skillset\n\nENGAGEMENT MODELS\n- Contract / Staff Augmentation: on-demand talent to scale fast\n- Contract-to-Hire: try before committing, with a clear path to permanent placement\n- Direct Hire: full retained or contingency search for permanent roles\n\nWHO WE SERVE\n- Enterprise organizations with high-volume or complex hiring needs\n- Small and mid-sized businesses that need a true partner, not just a vendor\n- SLED (State, Local Government and Education)\n- Both local on-site and fully remote placements across the U.S.\n\nWHY BOUTIQUE MATTERS\n- Direct access to decision-makers, no layers, no hand-offs\n- Faster turnaround, we move with urgency\n- Curated candidates, every submission is intentional, never a resume dump\n- Long-term partnership mindset\n`;\n\nconst TONE_INSTRUCTIONS = `\nWRITING RULES (follow strictly)\n1. Lead with THEM, not us. Reference something specific about the company, the role posted, a growth signal, or the hiring challenge. NEVER open with \"We are a staffing firm...\"\n2. Be consultative, not salesy. Position 10 Pillars as a problem-solving partner, not a vendor pushing resumes.\n3. Keep it SHORT and scannable. Hiring managers do not read long emails.\n4. Personalize every message. Use the company name and the specific role in every email. Generic equals deleted.\n5. No hype language, no fluff, no filler phrases. Avoid \"I hope this finds you well\" type openers unless minimal and natural.\n6. Do NOT use em dashes, en dashes, or double hyphens as dashes anywhere in the copy. Use commas, periods, or rewrite the sentence instead. This is critical and signals AI-generated content.\n7. Do not overstate candidate availability. Keep any candidate references general and credible.\n8. Do not invent facts not present in the provided data. If company context is limited, use a lighter personalization approach rather than fabricating details.\n9. Subject lines should be clear and simple, focused on the role and company.\n10. Do NOT include a website URL in the email body. It appears in the sender signature automatically.\n11. Sign all emails as: Michael\n12. FORMATTING: Each distinct thought or paragraph MUST be separated by a blank line (\\n\\n). Never write the email as one continuous block of text. The greeting, each paragraph, and the sign-off must each be on their own line with a blank line between them. Example structure:\\n\\nHi [Name],\\n\\n[Opening/personalization sentence(s)]\\n\\n[Value prop sentence(s)]\\n\\n[Right-person redirect + call to action]\\n\\nMichael\n`;\n\nfor (const item of $input.all()) {\n  const d = item.json;\n\n  const systemPrompt = `You are a senior business development writer for 10 Pillars Solutions, a boutique staffing firm.\n\nYour job is to write a 3-email outreach sequence for Michael at 10 Pillars Solutions. The emails target a hiring manager or HR contact at a direct-employer company that has an active job posting. The goal is to introduce 10 Pillars as a staffing partner that can help fill this role.\n${COMPANY_PROFILE}\n${TONE_INSTRUCTIONS}\n\nRespond ONLY with a valid JSON object using this exact structure. No markdown, no preamble, no dashes of any kind in the copy:\n{\n  \"email_1_subject\": \"...\",\n  \"email_1_body\": \"...\",\n  \"email_2_subject\": \"...\",\n  \"email_2_body\": \"...\",\n  \"email_3_subject\": \"...\",\n  \"email_3_body\": \"...\",\n  \"personalization_notes\": \"Brief notes on what was personalized and why\",\n  \"company_research_summary\": \"Summary of what is known about the company from the provided data\",\n  \"why_this_message_is_relevant\": \"Why this outreach is timely and relevant to this specific company and role\",\n  \"why_this_contact\": \"Why this specific contact was chosen (their title, seniority, and relevance to the hiring decision)\"\n}`;\n\n  const descLower = (d.job_description || '').substring(0, 800).toLowerCase();\n  let engagementAngle = 'contract, contract-to-hire, or direct hire';\n  if (/contract|c2h|temp|augmentation/.test(descLower)) engagementAngle = 'contract or contract-to-hire';\n  else if (/permanent|full.time|direct hire/.test(descLower)) engagementAngle = 'direct hire';\n\n  const contactFirst = (d.contact_name || '').split(' ')[0] || 'there';\n\n  const userPrompt = `Write a 3-email outreach sequence for this specific opportunity:\n\nTARGET COMPANY\nName: ${d.company_name}\nWebsite: ${d.company_domain ? 'https://' + d.company_domain : 'Unknown'}\nIndustry: ${d.company_industry || 'Not specified'}\nSummary: ${d.company_summary || 'Not available'}\nHiring Signals: ${Array.isArray(d._hiring_signals) ? d._hiring_signals.join(', ') : (d._hiring_signals || 'None noted')}\nTech Stack in JD: ${Array.isArray(d._tech_stack) ? d._tech_stack.join(', ') : (d._tech_stack || 'Not specified')}\n\nOPEN ROLE\nTitle: ${d.job_title}\nLocation: ${d.location}\nSeniority: ${d.seniority || 'Not specified'}\nKey Skills: ${d.skills || 'Not specified'}\nEngagement type to pitch: ${engagementAngle}\nJob Description Excerpt:\n${(d.job_description || '').substring(0, 800)}\n\nCONTACT\nName: ${d.contact_name || 'Hiring Manager'} (address by first name: ${contactFirst})\nTitle: ${d.contact_title || 'Unknown'}\nWhy contacted: ${d.contact_reasoning || 'Best available match at this company'}\n\n---\n\nEMAIL 1 REQUIREMENTS (Introductory Outreach):\n- Open by addressing ${contactFirst} by name on its own line, followed by a blank line\n- Paragraph 1: Mention the posted ${d.job_title} role. Include 1 to 2 sentences of personalization referencing something specific about ${d.company_name}, the role, or a hiring signal\n- Paragraph 2: 1 to 2 sentences on how 10 Pillars Solutions can support this search as a staffing partner\n- Paragraph 3: A natural line asking whether ${contactFirst} is the right contact, and if not, whether they can point you to the right person\n- Paragraph 4: Simple low-friction call to action (offer a 15-minute call or to share a few profiles)\n- Sign off: Michael on its own line\n- Each paragraph separated by a blank line. Total: 4 to 6 sentences across all paragraphs.\n\nEMAIL 2 REQUIREMENTS (Follow-Up):\n- Open by addressing ${contactFirst} by name on its own line, followed by a blank line\n- Paragraph 1: Reference your earlier email about the ${d.job_title} opening at ${d.company_name}. Ask how the search is going.\n- Paragraph 2: Mention 10 Pillars has solid candidates available for this type of role. Offer to discuss.\n- Sign off: Michael on its own line\n- Each paragraph separated by a blank line. Total: 3 to 4 sentences.\n\nEMAIL 3 REQUIREMENTS (Final Follow-Up):\n- Open by addressing ${contactFirst} by name on its own line, followed by a blank line\n- Paragraph 1: Acknowledge you have reached out a couple of times about the ${d.job_title} role at ${d.company_name}. Note politely you may not have reached the right person.\n- Paragraph 2: Ask who the right contact is, or express interest in becoming a qualified vendor for future hiring needs at ${d.company_name}.\n- Sign off: Michael on its own line\n- Each paragraph separated by a blank line. Total: 3 to 4 sentences.\n\n---\n\nWrite all six outreach assets fully personalized to this company, role, and contact. Use actual names, not placeholders. No dashes of any kind. Each paragraph on its own with a blank line between them.`;\n\n  results.push({\n    json: {\n      ...d,\n      _system_prompt: systemPrompt,\n      _user_prompt: userPrompt\n    }\n  });\n}\n\nreturn results;"},"id":"wf3-build-prompt","name":"Build Outreach Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"anthropic","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Claude"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"openai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OpenAI"}]},"options":{}},"id":"wf3-llm-router","name":"LLM Provider Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[672,384]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $vars.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $vars.ANTHROPIC_MODEL || 'claude-opus-4-6' }}\",\n  \"max_tokens\": 2500,\n  \"system\": {{ JSON.stringify($json._system_prompt) }},\n  \"messages\": [\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-claude-call","name":"Claude API Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,272],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 2500,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json._system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-openai-call","name":"OpenAI GPT-4o Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,512],"continueOnFail":true},{"parameters":{},"id":"wf3-merge-llm","name":"Merge LLM Output","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,384]},{"parameters":{"jsCode":"// Parse LLM response for 3-email outreach sequence (handles both OpenAI and Claude formats)\nconst results = [];\nconst originalItems = $('Build Outreach Prompt').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const d = item.json;\n  const orig = originalItems[i] ? originalItems[i].json : {};\n  let parsed = {};\n\n  try {\n    // OpenAI format\n    if (d.choices && d.choices[0]) {\n      const raw = d.choices[0].message?.content || '{}';\n      parsed = JSON.parse(raw);\n    }\n    // Claude format\n    else if (d.content && d.content[0]) {\n      const raw = d.content[0].text || '{}';\n      const cleaned = raw.replace(/```json?\\s*/g, '').replace(/```\\s*/g, '').trim();\n      parsed = JSON.parse(cleaned);\n    }\n    else if (d.email_1_subject) {\n      parsed = d;\n    }\n  } catch(e) {\n    const raw = d.choices?.[0]?.message?.content || d.content?.[0]?.text || '';\n    parsed = {\n      email_1_subject: 'Review needed -- parsing failed',\n      email_1_body: raw.substring(0, 1000),\n      email_2_subject: '',\n      email_2_body: '',\n      email_3_subject: '',\n      email_3_body: '',\n      personalization_notes: `LLM parse error: ${e.message}`,\n      company_research_summary: '',\n      why_this_message_is_relevant: '',\n      why_this_contact: ''\n    };\n  }\n\n  // Replace common placeholders with real values and strip dashes\n  const contactFirst = (orig.contact_name || '').split(' ')[0] || 'there';\n  const companyName = orig.company_name || '';\n  const replace = (str) => (str || '')\n    .replace(/\\[Hiring Manager\\]/gi, contactFirst)\n    .replace(/\\[First Name\\]/gi, contactFirst)\n    .replace(/\\[Name\\]/gi, contactFirst)\n    .replace(/\\[Your Name\\]/gi, 'Michael')\n    .replace(/\\[Company Name\\]/gi, companyName)\n    .replace(/\\[Company\\]/gi, companyName)\n    .replace(/\\s*\\u2014\\s*/g, ', ')   // em dash -> comma\n    .replace(/\\s*--\\s*/g, ', ')        // double hyphen -> comma\n    .replace(/\\s*\\u2013\\s*/g, ', ');   // en dash -> comma\n\n  results.push({\n    json: {\n      opportunity_id: orig.opportunity_id || '',\n      company_name: orig.company_name || '',\n      company_domain: orig.company_domain || '',\n      contact_name: orig.contact_name || '',\n      contact_title: orig.contact_title || '',\n      contact_email: orig.contact_email || '',\n      job_title: orig.job_title || '',\n      location: orig.location || '',\n      company_summary: orig.company_summary || '',\n      company_industry: orig.company_industry || '',\n      seniority: orig.seniority || '',\n      skills: orig.skills || '',\n      confidence_score: orig.confidence_score || '',\n      contact_reasoning: orig.contact_reasoning || '',\n      linkedin_url: orig.linkedin_url || '',\n      source_url: orig.source_url || '',\n      posted_date: orig.posted_date || '',\n      email_1_subject: replace(parsed.email_1_subject) || '',\n      email_1_body: replace(parsed.email_1_body) || '',\n      email_2_subject: replace(parsed.email_2_subject) || '',\n      email_2_body: replace(parsed.email_2_body) || '',\n      email_3_subject: replace(parsed.email_3_subject) || '',\n      email_3_body: replace(parsed.email_3_body) || '',\n      personalization_notes: parsed.personalization_notes || '',\n      company_research_summary: parsed.company_research_summary || '',\n      why_this_message_is_relevant: parsed.why_this_message_is_relevant || '',\n      why_this_contact: parsed.why_this_contact || '',\n      approval_status: 'pending',\n      sent_status: 'unsent',\n      sent_timestamp: '',\n      llm_provider: $vars.LLM_PROVIDER || 'openai',\n      generated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"},"id":"wf3-parse-response","name":"Parse LLM Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,384]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Outreach Queue","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","contact_name":"={{ $json.contact_name }}","company_name":"={{ $json.company_name }}","contact_email":"={{ $json.contact_email }}","job_title":"={{ $json.job_title }}","email_1_subject":"={{ $json.email_1_subject }}","email_1_body":"={{ $json.email_1_body }}","email_2_subject":"={{ $json.email_2_subject }}","email_2_body":"={{ $json.email_2_body }}","email_3_subject":"={{ $json.email_3_subject }}","email_3_body":"={{ $json.email_3_body }}","personalization_notes":"={{ $json.personalization_notes }}","company_research_summary":"={{ $json.company_research_summary }}","why_this_message_is_relevant":"={{ $json.why_this_message_is_relevant }}","why_this_contact":"={{ $json.why_this_contact }}","posted_date":"={{ $json.posted_date }}","source_url":"={{ $json.source_url }}","approval_status":"pending","sent_status":"unsent","follow_up_stage":"0","scheduled_date":"","company_domain":"={{ $json.company_domain }}"},"matchingColumns":[],"schema":[{"id":"opportunity_id","displayName":"opportunity_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_email","displayName":"contact_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_subject","displayName":"email_1_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_body","displayName":"email_1_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_subject","displayName":"email_2_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_body","displayName":"email_2_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_subject","displayName":"email_3_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_body","displayName":"email_3_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalization_notes","displayName":"personalization_notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_research_summary","displayName":"company_research_summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"why_this_message_is_relevant","displayName":"why_this_message_is_relevant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"why_this_contact","displayName":"why_this_contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"approval_status","displayName":"approval_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_status","displayName":"sent_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_timestamp","displayName":"sent_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow_up_stage","displayName":"follow_up_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scheduled_date","displayName":"scheduled_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"wf3-write-outreach-queue","name":"Write to Outreach Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1552,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Opportunities","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","status":"draft_ready"},"matchingColumns":["opportunity_id"]},"options":{}},"id":"wf3-update-opp-status","name":"Update Opportunity to draft_ready","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1760,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"operation":"create","title":"={{ $json.company_name }} — Outreach Review — {{ $json.opportunity_id }}","folderId":"={{ $vars.GOOGLE_DOCS_FOLDER_ID }}","content":"={{ '== OUTREACH REVIEW PACKET ==\\nGenerated: ' + $json.generated_at + '\\nStatus: DRAFT - Pending Approval\\nOpportunity ID: ' + $json.opportunity_id + '\\n\\n== COMPANY ==\\nName: ' + $json.company_name + '\\nDomain: ' + $json.company_domain + '\\nIndustry: ' + ($json.company_industry || 'Unknown') + '\\nSummary: ' + ($json.company_summary || 'Not available') + '\\nResearch Summary: ' + ($json.company_research_summary || '') + '\\nWhy This Message Is Relevant: ' + ($json.why_this_message_is_relevant || '') + '\\n\\n== ROLE ==\\nTitle: ' + $json.job_title + '\\nLocation: ' + $json.location + '\\nSeniority: ' + ($json.seniority || 'Unknown') + '\\nSkills: ' + ($json.skills || 'Not specified') + '\\n\\n== CONTACT ==\\nName: ' + ($json.contact_name || 'Unknown') + '\\nTitle: ' + ($json.contact_title || 'Unknown') + '\\nEmail: ' + ($json.contact_email || 'Unknown') + '\\nLinkedIn: ' + ($json.linkedin_url || 'Not found') + '\\nConfidence: ' + $json.confidence_score + '/100\\nWhy This Contact: ' + ($json.why_this_contact || '') + '\\nSource: ' + ($json.contact_reasoning || '') + '\\n\\n== EMAIL 1 - INTRODUCTORY ==\\nSubject: ' + $json.email_1_subject + '\\n\\n' + $json.email_1_body + '\\n\\n---\\n\\n== EMAIL 2 - FOLLOW-UP ==\\nSubject: ' + $json.email_2_subject + '\\n\\n' + $json.email_2_body + '\\n\\n---\\n\\n== EMAIL 3 - FINAL / PARTNER QUALIFICATION ==\\nSubject: ' + $json.email_3_subject + '\\n\\n' + $json.email_3_body + '\\n\\n== PERSONALIZATION NOTES ==\\n' + $json.personalization_notes + '\\n\\n== REVIEWER NOTES ==\\n[ Add your notes here before approving ]\\n\\nTO APPROVE: Set approval_status = \"approved\" in Outreach Queue tab\\nOpportunity ID: ' + $json.opportunity_id }}"},"id":"wf3-create-doc","name":"Create Google Doc Review Packet","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1984,384],"credentials":{"googleDocsOAuth2Api":{"id":"hj2itwor0d9Gk0nP","name":"Google Docs account 2"}},"disabled":true},{"parameters":{},"id":"wf3-error-handler","name":"Error Handler","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,720]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Errors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","workflow_name":"WF3: Outreach Draft Generation","node_name":"={{ $json.execution.lastNodeExecuted }}","error_message":"={{ $json.execution.error.message }}","input_data":"={{ JSON.stringify($json.execution.error.context || {}) }}"}},"options":{}},"id":"wf3-write-error","name":"Write Error to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[224,720],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"content":"## WF3: Outreach Draft Generation\n\nGenerates personalized outreach using LLM.\n\n**Flow:**\n1. Receive opportunity + contact from WF2 (or manual)\n2. Build structured LLM prompt\n3. Route to OpenAI GPT-4o or Claude (via LLM_PROVIDER env)\n4. Parse JSON response\n5. Write to Outreach Queue sheet\n6. Update Opportunities status to draft_ready\n7. Create Google Doc review packet\n\n**Toggle LLM:**\n- LLM_PROVIDER=openai → GPT-4o\n- LLM_PROVIDER=anthropic → Claude\n\n**Env vars needed:**\n- LLM_PROVIDER\n- OPENAI_API_KEY\n- ANTHROPIC_API_KEY\n- ANTHROPIC_MODEL\n- GOOGLE_SHEETS_ID\n- GOOGLE_DOCS_FOLDER_ID","height":360,"width":280},"id":"wf3-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,208]}],"connections":{"Build Outreach Prompt":{"main":[[{"node":"LLM Provider Router","type":"main","index":0}]]},"LLM Provider Router":{"main":[[{"node":"Claude API Call","type":"main","index":0}],[{"node":"OpenAI GPT-4o Call","type":"main","index":0}]]},"Claude API Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":0}]]},"OpenAI GPT-4o Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":1}]]},"Merge LLM Output":{"main":[[{"node":"Parse LLM Response","type":"main","index":0}]]},"Parse LLM Response":{"main":[[{"node":"Write to Outreach Queue","type":"main","index":0}]]},"Write to Outreach Queue":{"main":[[{"node":"Update Opportunity to draft_ready","type":"main","index":0}]]},"Update Opportunity to draft_ready":{"main":[[{"node":"Create Google Doc Review Packet","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"Write Error to Sheet","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]}},"authors":"Michael Byrne","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-07T21:21:28.470Z","id":310,"workflowId":"T1jTXreAw0uZ2TOD","versionId":"295772af-7ad8-4095-aade-98cec8668c5f","event":"activated","userId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"},{"createdAt":"2026-04-07T21:21:28.390Z","id":309,"workflowId":"T1jTXreAw0uZ2TOD","versionId":"295772af-7ad8-4095-aade-98cec8668c5f","event":"deactivated","userId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"}]}}