workflows/wf3-outreach-draft.json
{"updatedAt":"2026-05-27T00:49:56.430Z","createdAt":"2026-03-27T00:41:19.227Z","id":"T1jTXreAw0uZ2TOD","name":"WF3: Outreach Draft Generation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"wf3-trigger-exec","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304]},{"parameters":{},"id":"wf3-trigger-manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,512]},{"parameters":{"jsCode":"/**\n * WF3 — Build Outreach Prompt\n * Assembles the LLM system + user prompt for a 3-email outreach sequence.\n * Input:  Merged opportunity + contact data from WF2\n * Output: Same item with _system_prompt and _user_prompt fields added\n */\nconst results = [];\n\nfor (const item of $input.all()) {\n  const d = item.json;\n\n  const systemPrompt = `You are writing a 3-email outbound business development sequence for a staffing and recruiting firm.\n\nThe emails are sent to a likely hiring manager or functional leader after a new job posting is identified.\n\n--- OUR FIRM ---\n10 Pillars Solutions is an AI-enabled, human-led staffing firm focused on helping employers hire faster without sacrificing quality. We combine intelligent sourcing with experienced recruiter judgment, technical screening support, and rigorous QA so clients receive qualified candidates, not just more résumés. Our value is in reducing noise, improving fit, and helping hiring teams move with more confidence on business-critical roles. We work on contract, contract-to-hire, and direct-hire engagements.\n\nYour task is to generate:\n1. Initial introduction email (email_body)\n2. 3-business-day follow-up email (followup_email_body)\n3. 7-day follow-up email sent after email 2 (followup_email_body_2)\n\nPrimary goal:\nSecure a 20-minute call to discuss the posted role, related approved headcount, or upcoming hiring needs.\n\nSecondary goal:\nIf the recipient is not the correct person, politely ask who owns hiring for this function.\n\nThe sequence must feel:\n- human\n- commercially sharp\n- warm but direct\n- specific to the company and role\n- not canned\n- not overly salesy\n- not repetitive across the three emails\n\nCore rules:\n- Do not sound like a generic recruiter blast.\n- Do not use hype, fluff, or exaggerated praise.\n- Do not make unsupported claims.\n- Do not invent facts about the company, role, recipient, or business situation.\n- If context is uncertain, frame it as a reasonable observation, not a fact.\n- Do not mention scraping, workflows, monitoring, automation, or AI.\n- Do not mention that the role was detected automatically.\n- Do not overuse the same wording, phrasing, or CTA across all three emails.\n- Each email must feel like a natural continuation of the previous one.\n\nAvoid these clichés:\n- Hope you are doing well\n- I wanted to reach out\n- I came across your impressive company\n- We are experts in\n- We help companies find top talent\n- Just circling back\n- Touching base\n- Following up on my previous email\n- Quick bump to the top of your inbox\n- Best-in-class\n- Industry-leading\n- World-class\n- Perfect fit\n- Game changer\n- Top talent\n- Quick chat\n- Pick your brain\n\nMandatory customization requirements:\nEvery sequence must include:\n- at least 1 sentence that references the company and what it does, builds, delivers, operates, or is focused on\n- at least 1 sentence that explains why this specific recipient is being contacted\n- the explanation for contacting the recipient should make clear that they may be close to this function, may influence hiring, or may know who the right contact is if they are not the hiring owner\n- this must sound natural and intentional, not like a disclaimer\n\nExamples of acceptable recipient-logic language:\n- Given your role, I thought you may have visibility into this team or know who is leading hiring there.\n- You seemed close enough to the function that I thought it made sense to reach out directly.\n- I was not certain whether this sits with you, but your team or adjacent group seemed like the right place to start.\n- If this does not fall under your remit, I imagine you may know who is overseeing hiring for it.\n\nCompany customization guidance:\n- Include one sentence showing understanding of what the company does and, when possible, what it appears to be focused on now\n- This can reference products, services, operations, growth activity, market focus, manufacturing footprint, project delivery, customer segment, or strategic direction\n- Keep this sentence grounded and restrained\n- Do not force overly specific claims if context is limited\n- If certainty is low, use language such as \"It looks like,\" \"It seems,\" or \"From the role and context, it appears\"\n\nSequence strategy:\n\nEmail 1 (email_body):\n- Reference the specific role naturally\n- Include at least one sentence on the company and what it does or appears focused on\n- Include one sentence explaining why this recipient is being contacted\n- Show understanding of why this hire may matter now\n- Briefly establish credibility in similar roles or industry\n- Ask for a 20-minute call\n- Include a polite fallback if they are not the right person\n\nEmail 2 (followup_email_body):\n- Build on the first note without repeating it\n- Add a slightly different angle, such as project timing, delivery pressure, team scaling, difficulty of the role, or market conditions\n- Keep it shorter than Email 1\n- It may briefly reinforce the company context or recipient relevance, but should not restate the same sentence verbatim\n- Re-state the CTA in a natural way\n- Keep the fallback ask concise\n\nEmail 3 (followup_email_body_2):\n- Be the shortest of the three\n- Sound respectful and low-pressure\n- Focus on whether this role or related headcount is a priority this quarter\n- Include a final ask for the right contact if they are not the hiring owner\n- Do not sound annoyed, passive-aggressive, or guilt-driven\n\nReasoning guidance:\nBased on the company context, role title, department, industry, location, and hiring pattern, infer 1 or 2 plausible reasons this role exists now. Examples may include:\n- project expansion\n- backlog growth\n- plant or site ramp-up\n- customer delivery pressure\n- production scaling\n- infrastructure modernization\n- transformation initiative\n- product line growth\n- replacement of a critical leadership seat\nUse these insights subtly. Do not over-explain them.\n\nTone:\n- confident\n- thoughtful\n- specific\n- respectful\n- concise\n\nLength guidelines:\n- Email 1: 100 to 150 words\n- Email 2: 65 to 115 words\n- Email 3: 45 to 90 words\n- Absolute max for any email: 180 words\n\nWriting style:\n- Vary sentence openings\n- Use natural business language\n- Write at about a 9th-grade readability level\n- Avoid em dashes\n- Avoid exclamation marks\n- Avoid bullet points in the final emails\n- Avoid quotation marks unless necessary\n- Avoid long paragraphs\n- Keep each email easy to skim and reply to\n\nPersonalization rules:\nUse the provided inputs to create restrained, believable customization around:\n- company\n- role\n- industry\n- site/geography if relevant\n- business context\n- probable hiring reason\n- recipient relevance\n\nDo not force personalization if the available context is thin.\nIf information is limited, keep the email simpler rather than inventing detail.\n\nVariation rules:\n- Do not use the same opening structure in all 3 emails\n- Do not always start with \"I noticed\" or \"I saw\"\n- Rotate between direct, consultative, and lightly relationship-driven tones\n- Vary CTA wording across the three emails\n- Make sure Email 2 and Email 3 clearly feel like follow-ups, but not copy-paste reminders\n\nSenior vs. mid-level tone guidance:\n- If the recipient appears senior (VP, Director, C-suite, Head of): make the language more concise, outcome-focused, and commercial\n- If the recipient appears mid-level (Manager, Lead, Senior individual contributor): make the language slightly more collaborative and role-specific\n- If hiring manager confidence is low: write in a way that still feels appropriate for a likely leader in the function; keep the fallback ask especially polite\n\nRespond ONLY with this exact JSON structure (no markdown, no extra text):\n{\n  \"email_1_subject\": \"...\",\n  \"email_1_body\": \"...\",\n  \"email_2_subject\": \"...\",\n  \"email_2_body\": \"...\",\n  \"email_3_subject\": \"...\",\n  \"email_3_body\": \"...\",\n  \"personalization_angle\": \"...\",\n  \"recipient_reasoning\": \"...\",\n  \"scaling_hypothesis\": \"...\"\n}\n\nField definitions:\n- email_1_subject: subject line for Email 1. 3 to 8 words, professional, no spam words.\n- email_1_body: Email 1 introduction (100-150 words, blank lines between paragraphs, signed Michael)\n- email_2_subject: subject line for Email 2 (Re: format acceptable)\n- email_2_body: Email 2 follow-up (65-115 words, signed Michael)\n- email_3_subject: subject line for Email 3 (Re: format acceptable)\n- email_3_body: Email 3 final follow-up (45-90 words, signed Michael)\n- personalization_angle: one sentence describing the primary company customization used\n- recipient_reasoning: one sentence describing why this person was selected as the likely contact\n- scaling_hypothesis: one sentence describing why this role likely matters now`;\n\n  const contactName = d.contact_name || '';\n  const firstName = contactName.split(' ')[0] || '';\n  const hasName = firstName.length > 0;\n  const greetingInstruction = hasName\n    ? 'Write the sequence addressed to ' + firstName + '.'\n    : 'The recipient name is not known. Open each email with a short standalone greeting such as Hi, or Hello, on its own line. Do not use Hiring Manager, there, or any placeholder name in the salutation.';\n\n  // Determine seniority tier for tone guidance\n  const title = (d.contact_title || '').toLowerCase();\n  let seniorityTier = 'unknown';\n  if (/\\b(vp|vice president|director|chief|cto|coo|ceo|cfo|head of|svp|evp)\\b/.test(title)) {\n    seniorityTier = 'senior — use more concise, outcome-focused, commercial language';\n  } else if (/\\b(manager|lead|senior|sr\\.?|principal)\\b/.test(title)) {\n    seniorityTier = 'mid-level — use slightly more collaborative, role-specific language';\n  } else {\n    seniorityTier = 'unknown — write for a likely functional leader; keep fallback ask polite';\n  }\n\n  const userPrompt = `Generate a 3-email outreach sequence for this opportunity:\n\n--- COMPANY ---\nName: ${d.company_name || 'Unknown'}\nDomain: ${d.company_domain || 'Unknown'}\nIndustry: ${d.company_industry || 'Not specified'}\nHQ: ${d.company_hq || 'Not specified'}\nDescription: ${d.company_summary || 'Not available'}\nHiring Signals: ${d.hiring_signals || 'None identified'}\nTech Stack in JD: ${d.tech_stack || 'Not specified'}\n\n--- ROLE ---\nJob Title: ${d.job_title || 'Unknown'}\nLocation: ${d.location || 'Unknown'}\nSeniority: ${d.seniority || 'Not specified'}\nEmployment Type: ${d.employment_type || 'Not specified'}\nSkills Mentioned: ${d.skills || 'Not specified'}\nJob Description (excerpt):\n${(d.job_description || '').substring(0, 1000)}\n\n--- CONTACT ---\nName: ${contactName || 'Not available'}\nFirst Name: ${firstName || 'Not available'}\nTitle: ${d.contact_title || 'Unknown'}\nSeniority Tier: ${seniorityTier}\nWhy They Were Selected: ${d.contact_reasoning || 'Best available contact for this role'}\n\n${greetingInstruction}`;\n\n  results.push({\n    json: {\n      ...d,\n      _system_prompt: systemPrompt,\n      _user_prompt: userPrompt,\n      _contact_first_name: firstName\n    }\n  });\n}\n\nreturn results;\n"},"id":"wf3-build-prompt","name":"Build Outreach Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"anthropic","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Claude"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"openai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OpenAI"}]},"options":{}},"id":"wf3-llm-router","name":"LLM Provider Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[672,384]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $vars.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $vars.ANTHROPIC_MODEL || 'claude-opus-4-6' }}\",\n  \"max_tokens\": 2500,\n  \"system\": {{ JSON.stringify($json._system_prompt) }},\n  \"messages\": [\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-claude-call","name":"Claude API Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,272],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 2500,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json._system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-openai-call","name":"OpenAI GPT-4o Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,512],"continueOnFail":true},{"parameters":{},"id":"wf3-merge-llm","name":"Merge LLM Output","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,384]},{"parameters":{"jsCode":"/**\n * WF3 — Parse LLM Response (cleaned 2026-05-26)\n * Tags items with _parse_status='success' | 'fail' for downstream routing.\n * On parse failure: emits minimal diagnostic fields only, no placeholder OQ row.\n * Route Parse Result IF sends success → Write to OQ, fail → Log Parse Failure.\n */\nconst results = [];\nconst originalItems = $('Build Outreach Prompt').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const d = item.json;\n  const orig = originalItems[i] ? originalItems[i].json : {};\n  let parsed = null;\n  let parseError = null;\n  let rawForLog = '';\n\n  try {\n    if (d.choices && d.choices[0]) {\n      const raw = d.choices[0].message?.content || '{}';\n      rawForLog = raw;\n      const cleaned = raw.replace(/```json?\\s*/g, '').replace(/```\\s*/g, '').trim();\n      parsed = JSON.parse(cleaned);\n    } else if (d.content && d.content[0]) {\n      const raw = d.content[0].text || '{}';\n      rawForLog = raw;\n      const cleaned = raw.replace(/```json?\\s*/g, '').replace(/```\\s*/g, '').trim();\n      parsed = JSON.parse(cleaned);\n    } else if (d.email_1_subject) {\n      parsed = d;\n    } else if (d.error) {\n      throw new Error('LLM API error: ' + (d.error.message || JSON.stringify(d.error)));\n    } else {\n      throw new Error('Unrecognized LLM response shape');\n    }\n  } catch(e) {\n    parseError = e.message;\n  }\n\n  if (parseError) {\n    results.push({ json: {\n      _parse_status: 'fail',\n      opportunity_id: orig.opportunity_id || '',\n      company_name: orig.company_name || '',\n      contact_email: orig.contact_email || '',\n      contact_name: orig.contact_name || '',\n      job_title: orig.job_title || '',\n      parse_error: parseError,\n      raw_excerpt: rawForLog.substring(0, 500),\n      llm_provider: $vars.LLM_PROVIDER || 'openai'\n    }});\n    continue;\n  }\n\n  const contactFirst = (orig.contact_name || '').split(' ')[0] || '';\n  const companyName = orig.company_name || '';\n  const clean = (str) => (str || '')\n    .replace(/\\b(Hi|Hello|Dear)[,\\s]*Hiring(?:\\s+Manager)?\\b/gi, (_, g) => contactFirst ? g + ' ' + contactFirst : g + ',')\n    .replace(/\\[Hiring Manager\\]/gi, contactFirst)\n    .replace(/\\[First Name\\]/gi, contactFirst)\n    .replace(/\\[Name\\]/gi, contactFirst)\n    .replace(/\\[Your Name\\]/gi, 'Michael')\n    .replace(/\\[Company Name\\]/gi, companyName)\n    .replace(/\\[Company\\]/gi, companyName)\n    .replace(/\\s*—\\s*/g, ', ')\n    .replace(/\\s*--\\s*/g, ', ')\n    .replace(/\\s*–\\s*/g, ', ');\n\n  results.push({\n    json: {\n      _parse_status: 'success',\n      opportunity_id: orig.opportunity_id || '',\n      company_name: orig.company_name || '',\n      company_domain: orig.company_domain || '',\n      contact_name: orig.contact_name || '',\n      contact_title: orig.contact_title || '',\n      contact_email: orig.contact_email || '',\n      job_title: orig.job_title || '',\n      location: orig.location || '',\n      company_summary: orig.company_summary || '',\n      company_industry: orig.company_industry || '',\n      seniority: orig.seniority || '',\n      skills: orig.skills || '',\n      confidence_score: orig.confidence_score || '',\n      contact_reasoning: orig.contact_reasoning || '',\n      linkedin_url: orig.linkedin_url || '',\n      source_url: orig.source_url || '',\n      posted_date: orig.posted_date || '',\n      email_1_subject: clean(parsed.email_1_subject) || '',\n      email_1_body: clean(parsed.email_1_body) || '',\n      email_2_subject: clean(parsed.email_2_subject) || '',\n      email_2_body: clean(parsed.email_2_body) || '',\n      email_3_subject: clean(parsed.email_3_subject) || '',\n      email_3_body: clean(parsed.email_3_body) || '',\n      personalization_angle: parsed.personalization_angle || '',\n      recipient_reasoning: parsed.recipient_reasoning || '',\n      scaling_hypothesis: parsed.scaling_hypothesis || '',\n      approval_status: 'pending',\n      sent_status: 'unsent',\n      sent_timestamp: '',\n      llm_provider: $vars.LLM_PROVIDER || 'openai',\n      generated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;\n"},"id":"wf3-parse-response","name":"Parse LLM Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,384]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Outreach Queue","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","contact_name":"={{ $json.contact_name }}","company_name":"={{ $json.company_name }}","contact_email":"={{ $json.contact_email }}","job_title":"={{ $json.job_title }}","email_1_subject":"={{ $json.email_1_subject }}","email_1_body":"={{ $json.email_1_body }}","email_2_subject":"={{ $json.email_2_subject }}","email_2_body":"={{ $json.email_2_body }}","email_3_subject":"={{ $json.email_3_subject }}","email_3_body":"={{ $json.email_3_body }}","posted_date":"={{ $json.posted_date }}","source_url":"={{ $json.source_url }}","approval_status":"pending","sent_status":"unsent","follow_up_stage":"0","scheduled_date":"","company_domain":"={{ $json.company_domain }}","personalization_angle":"={{ $json.personalization_angle }}","recipient_reasoning":"={{ $json.recipient_reasoning }}","scaling_hypothesis":"={{ $json.scaling_hypothesis }}"},"matchingColumns":[],"schema":[{"id":"opportunity_id","displayName":"opportunity_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_email","displayName":"contact_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_subject","displayName":"email_1_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_body","displayName":"email_1_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_subject","displayName":"email_2_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_body","displayName":"email_2_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_subject","displayName":"email_3_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_body","displayName":"email_3_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"approval_status","displayName":"approval_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_status","displayName":"sent_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_timestamp","displayName":"sent_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow_up_stage","displayName":"follow_up_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scheduled_date","displayName":"scheduled_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalization_angle","displayName":"personalization_angle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recipient_reasoning","displayName":"recipient_reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scaling_hypothesis","displayName":"scaling_hypothesis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"wf3-write-outreach-queue","name":"Write to Outreach Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1552,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Opportunities","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","status":"draft_ready"},"matchingColumns":["opportunity_id"]},"options":{}},"id":"wf3-update-opp-status","name":"Update Opportunity to draft_ready","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1760,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{},"id":"wf3-error-handler","name":"Error Handler","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,720]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Errors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","workflow_name":"WF3: Outreach Draft Generation","node_name":"={{ $json.execution.lastNodeExecuted }}","error_message":"={{ $json.execution.error.message }}","input_data":"={{ JSON.stringify($json.execution.error.context || {}) }}"}},"options":{}},"id":"wf3-write-error","name":"Write Error to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[224,720],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"content":"## WF3: Outreach Draft Generation\n\nGenerates personalized outreach using LLM.\n\n**Flow:**\n1. Receive opportunity + contact from WF2 (or manual)\n2. Build structured LLM prompt\n3. Route to OpenAI GPT-4o or Claude (via LLM_PROVIDER env)\n4. Parse JSON response\n5. Write to Outreach Queue sheet\n6. Update Opportunities status to draft_ready\n7. Create Google Doc review packet\n\n**Toggle LLM:**\n- LLM_PROVIDER=openai → GPT-4o\n- LLM_PROVIDER=anthropic → Claude\n\n**Env vars needed:**\n- LLM_PROVIDER\n- OPENAI_API_KEY\n- ANTHROPIC_API_KEY\n- ANTHROPIC_MODEL\n- GOOGLE_SHEETS_ID\n- GOOGLE_DOCS_FOLDER_ID","height":360,"width":280},"id":"wf3-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,208]},{"id":"wf3-route-parse-result","name":"Route Parse Result","type":"n8n-nodes-base.if","typeVersion":2,"position":[1440,384],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"parse-status-success","leftValue":"={{ $json._parse_status }}","rightValue":"success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"wf3-log-parse-failure","name":"Log Parse Failure","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1552,540],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Errors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","workflow_name":"WF3: Outreach Draft Generation","node_name":"Parse LLM Response","error_message":"={{ $json.parse_error }}","input_data":"={{ JSON.stringify({opportunity_id: $json.opportunity_id, company_name: $json.company_name, contact_email: $json.contact_email, job_title: $json.job_title, llm_provider: $json.llm_provider, raw_excerpt: $json.raw_excerpt}) }}"}},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":10000}],"connections":{"Build Outreach Prompt":{"main":[[{"node":"LLM Provider Router","type":"main","index":0}]]},"LLM Provider Router":{"main":[[{"node":"Claude API Call","type":"main","index":0}],[{"node":"OpenAI GPT-4o Call","type":"main","index":0}]]},"Claude API Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":0}]]},"OpenAI GPT-4o Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":1}]]},"Merge LLM Output":{"main":[[{"node":"Parse LLM Response","type":"main","index":0}]]},"Write to Outreach Queue":{"main":[[{"node":"Update Opportunity to draft_ready","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"Write Error to Sheet","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]},"Parse LLM Response":{"main":[[{"node":"Route Parse Result","type":"main","index":0}]]},"Route Parse Result":{"main":[[{"node":"Write to Outreach Queue","type":"main","index":0}],[{"node":"Log Parse Failure","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"8e9a7a61-a206-4d60-b474-8193d24e37a0","activeVersionId":"8e9a7a61-a206-4d60-b474-8193d24e37a0","versionCounter":111,"triggerCount":0,"shared":[{"updatedAt":"2026-03-27T00:41:19.228Z","createdAt":"2026-03-27T00:41:19.228Z","role":"workflow:owner","workflowId":"T1jTXreAw0uZ2TOD","projectId":"vBgsLJa2v6uIUdQM","project":{"updatedAt":"2026-03-26T23:07:09.721Z","createdAt":"2026-03-26T23:07:03.922Z","id":"vBgsLJa2v6uIUdQM","name":"Michael Byrne <michael@10pillarssolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-27T00:49:56.431Z","createdAt":"2026-05-27T00:49:56.431Z","versionId":"8e9a7a61-a206-4d60-b474-8193d24e37a0","workflowId":"T1jTXreAw0uZ2TOD","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"wf3-trigger-exec","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304]},{"parameters":{},"id":"wf3-trigger-manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,512]},{"parameters":{"jsCode":"/**\n * WF3 — Build Outreach Prompt\n * Assembles the LLM system + user prompt for a 3-email outreach sequence.\n * Input:  Merged opportunity + contact data from WF2\n * Output: Same item with _system_prompt and _user_prompt fields added\n */\nconst results = [];\n\nfor (const item of $input.all()) {\n  const d = item.json;\n\n  const systemPrompt = `You are writing a 3-email outbound business development sequence for a staffing and recruiting firm.\n\nThe emails are sent to a likely hiring manager or functional leader after a new job posting is identified.\n\n--- OUR FIRM ---\n10 Pillars Solutions is an AI-enabled, human-led staffing firm focused on helping employers hire faster without sacrificing quality. We combine intelligent sourcing with experienced recruiter judgment, technical screening support, and rigorous QA so clients receive qualified candidates, not just more résumés. Our value is in reducing noise, improving fit, and helping hiring teams move with more confidence on business-critical roles. We work on contract, contract-to-hire, and direct-hire engagements.\n\nYour task is to generate:\n1. Initial introduction email (email_body)\n2. 3-business-day follow-up email (followup_email_body)\n3. 7-day follow-up email sent after email 2 (followup_email_body_2)\n\nPrimary goal:\nSecure a 20-minute call to discuss the posted role, related approved headcount, or upcoming hiring needs.\n\nSecondary goal:\nIf the recipient is not the correct person, politely ask who owns hiring for this function.\n\nThe sequence must feel:\n- human\n- commercially sharp\n- warm but direct\n- specific to the company and role\n- not canned\n- not overly salesy\n- not repetitive across the three emails\n\nCore rules:\n- Do not sound like a generic recruiter blast.\n- Do not use hype, fluff, or exaggerated praise.\n- Do not make unsupported claims.\n- Do not invent facts about the company, role, recipient, or business situation.\n- If context is uncertain, frame it as a reasonable observation, not a fact.\n- Do not mention scraping, workflows, monitoring, automation, or AI.\n- Do not mention that the role was detected automatically.\n- Do not overuse the same wording, phrasing, or CTA across all three emails.\n- Each email must feel like a natural continuation of the previous one.\n\nAvoid these clichés:\n- Hope you are doing well\n- I wanted to reach out\n- I came across your impressive company\n- We are experts in\n- We help companies find top talent\n- Just circling back\n- Touching base\n- Following up on my previous email\n- Quick bump to the top of your inbox\n- Best-in-class\n- Industry-leading\n- World-class\n- Perfect fit\n- Game changer\n- Top talent\n- Quick chat\n- Pick your brain\n\nMandatory customization requirements:\nEvery sequence must include:\n- at least 1 sentence that references the company and what it does, builds, delivers, operates, or is focused on\n- at least 1 sentence that explains why this specific recipient is being contacted\n- the explanation for contacting the recipient should make clear that they may be close to this function, may influence hiring, or may know who the right contact is if they are not the hiring owner\n- this must sound natural and intentional, not like a disclaimer\n\nExamples of acceptable recipient-logic language:\n- Given your role, I thought you may have visibility into this team or know who is leading hiring there.\n- You seemed close enough to the function that I thought it made sense to reach out directly.\n- I was not certain whether this sits with you, but your team or adjacent group seemed like the right place to start.\n- If this does not fall under your remit, I imagine you may know who is overseeing hiring for it.\n\nCompany customization guidance:\n- Include one sentence showing understanding of what the company does and, when possible, what it appears to be focused on now\n- This can reference products, services, operations, growth activity, market focus, manufacturing footprint, project delivery, customer segment, or strategic direction\n- Keep this sentence grounded and restrained\n- Do not force overly specific claims if context is limited\n- If certainty is low, use language such as \"It looks like,\" \"It seems,\" or \"From the role and context, it appears\"\n\nSequence strategy:\n\nEmail 1 (email_body):\n- Reference the specific role naturally\n- Include at least one sentence on the company and what it does or appears focused on\n- Include one sentence explaining why this recipient is being contacted\n- Show understanding of why this hire may matter now\n- Briefly establish credibility in similar roles or industry\n- Ask for a 20-minute call\n- Include a polite fallback if they are not the right person\n\nEmail 2 (followup_email_body):\n- Build on the first note without repeating it\n- Add a slightly different angle, such as project timing, delivery pressure, team scaling, difficulty of the role, or market conditions\n- Keep it shorter than Email 1\n- It may briefly reinforce the company context or recipient relevance, but should not restate the same sentence verbatim\n- Re-state the CTA in a natural way\n- Keep the fallback ask concise\n\nEmail 3 (followup_email_body_2):\n- Be the shortest of the three\n- Sound respectful and low-pressure\n- Focus on whether this role or related headcount is a priority this quarter\n- Include a final ask for the right contact if they are not the hiring owner\n- Do not sound annoyed, passive-aggressive, or guilt-driven\n\nReasoning guidance:\nBased on the company context, role title, department, industry, location, and hiring pattern, infer 1 or 2 plausible reasons this role exists now. Examples may include:\n- project expansion\n- backlog growth\n- plant or site ramp-up\n- customer delivery pressure\n- production scaling\n- infrastructure modernization\n- transformation initiative\n- product line growth\n- replacement of a critical leadership seat\nUse these insights subtly. Do not over-explain them.\n\nTone:\n- confident\n- thoughtful\n- specific\n- respectful\n- concise\n\nLength guidelines:\n- Email 1: 100 to 150 words\n- Email 2: 65 to 115 words\n- Email 3: 45 to 90 words\n- Absolute max for any email: 180 words\n\nWriting style:\n- Vary sentence openings\n- Use natural business language\n- Write at about a 9th-grade readability level\n- Avoid em dashes\n- Avoid exclamation marks\n- Avoid bullet points in the final emails\n- Avoid quotation marks unless necessary\n- Avoid long paragraphs\n- Keep each email easy to skim and reply to\n\nPersonalization rules:\nUse the provided inputs to create restrained, believable customization around:\n- company\n- role\n- industry\n- site/geography if relevant\n- business context\n- probable hiring reason\n- recipient relevance\n\nDo not force personalization if the available context is thin.\nIf information is limited, keep the email simpler rather than inventing detail.\n\nVariation rules:\n- Do not use the same opening structure in all 3 emails\n- Do not always start with \"I noticed\" or \"I saw\"\n- Rotate between direct, consultative, and lightly relationship-driven tones\n- Vary CTA wording across the three emails\n- Make sure Email 2 and Email 3 clearly feel like follow-ups, but not copy-paste reminders\n\nSenior vs. mid-level tone guidance:\n- If the recipient appears senior (VP, Director, C-suite, Head of): make the language more concise, outcome-focused, and commercial\n- If the recipient appears mid-level (Manager, Lead, Senior individual contributor): make the language slightly more collaborative and role-specific\n- If hiring manager confidence is low: write in a way that still feels appropriate for a likely leader in the function; keep the fallback ask especially polite\n\nRespond ONLY with this exact JSON structure (no markdown, no extra text):\n{\n  \"email_1_subject\": \"...\",\n  \"email_1_body\": \"...\",\n  \"email_2_subject\": \"...\",\n  \"email_2_body\": \"...\",\n  \"email_3_subject\": \"...\",\n  \"email_3_body\": \"...\",\n  \"personalization_angle\": \"...\",\n  \"recipient_reasoning\": \"...\",\n  \"scaling_hypothesis\": \"...\"\n}\n\nField definitions:\n- email_1_subject: subject line for Email 1. 3 to 8 words, professional, no spam words.\n- email_1_body: Email 1 introduction (100-150 words, blank lines between paragraphs, signed Michael)\n- email_2_subject: subject line for Email 2 (Re: format acceptable)\n- email_2_body: Email 2 follow-up (65-115 words, signed Michael)\n- email_3_subject: subject line for Email 3 (Re: format acceptable)\n- email_3_body: Email 3 final follow-up (45-90 words, signed Michael)\n- personalization_angle: one sentence describing the primary company customization used\n- recipient_reasoning: one sentence describing why this person was selected as the likely contact\n- scaling_hypothesis: one sentence describing why this role likely matters now`;\n\n  const contactName = d.contact_name || '';\n  const firstName = contactName.split(' ')[0] || '';\n  const hasName = firstName.length > 0;\n  const greetingInstruction = hasName\n    ? 'Write the sequence addressed to ' + firstName + '.'\n    : 'The recipient name is not known. Open each email with a short standalone greeting such as Hi, or Hello, on its own line. Do not use Hiring Manager, there, or any placeholder name in the salutation.';\n\n  // Determine seniority tier for tone guidance\n  const title = (d.contact_title || '').toLowerCase();\n  let seniorityTier = 'unknown';\n  if (/\\b(vp|vice president|director|chief|cto|coo|ceo|cfo|head of|svp|evp)\\b/.test(title)) {\n    seniorityTier = 'senior — use more concise, outcome-focused, commercial language';\n  } else if (/\\b(manager|lead|senior|sr\\.?|principal)\\b/.test(title)) {\n    seniorityTier = 'mid-level — use slightly more collaborative, role-specific language';\n  } else {\n    seniorityTier = 'unknown — write for a likely functional leader; keep fallback ask polite';\n  }\n\n  const userPrompt = `Generate a 3-email outreach sequence for this opportunity:\n\n--- COMPANY ---\nName: ${d.company_name || 'Unknown'}\nDomain: ${d.company_domain || 'Unknown'}\nIndustry: ${d.company_industry || 'Not specified'}\nHQ: ${d.company_hq || 'Not specified'}\nDescription: ${d.company_summary || 'Not available'}\nHiring Signals: ${d.hiring_signals || 'None identified'}\nTech Stack in JD: ${d.tech_stack || 'Not specified'}\n\n--- ROLE ---\nJob Title: ${d.job_title || 'Unknown'}\nLocation: ${d.location || 'Unknown'}\nSeniority: ${d.seniority || 'Not specified'}\nEmployment Type: ${d.employment_type || 'Not specified'}\nSkills Mentioned: ${d.skills || 'Not specified'}\nJob Description (excerpt):\n${(d.job_description || '').substring(0, 1000)}\n\n--- CONTACT ---\nName: ${contactName || 'Not available'}\nFirst Name: ${firstName || 'Not available'}\nTitle: ${d.contact_title || 'Unknown'}\nSeniority Tier: ${seniorityTier}\nWhy They Were Selected: ${d.contact_reasoning || 'Best available contact for this role'}\n\n${greetingInstruction}`;\n\n  results.push({\n    json: {\n      ...d,\n      _system_prompt: systemPrompt,\n      _user_prompt: userPrompt,\n      _contact_first_name: firstName\n    }\n  });\n}\n\nreturn results;\n"},"id":"wf3-build-prompt","name":"Build Outreach Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,384]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"anthropic","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Claude"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $vars.LLM_PROVIDER }}","rightValue":"openai","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OpenAI"}]},"options":{}},"id":"wf3-llm-router","name":"LLM Provider Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[672,384]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $vars.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $vars.ANTHROPIC_MODEL || 'claude-opus-4-6' }}\",\n  \"max_tokens\": 2500,\n  \"system\": {{ JSON.stringify($json._system_prompt) }},\n  \"messages\": [\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-claude-call","name":"Claude API Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,272],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 2500,\n  \"response_format\": {\"type\": \"json_object\"},\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json._system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json._user_prompt) }}}\n  ]\n}","options":{}},"id":"wf3-openai-call","name":"OpenAI GPT-4o Call","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,512],"continueOnFail":true},{"parameters":{},"id":"wf3-merge-llm","name":"Merge LLM Output","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,384]},{"parameters":{"jsCode":"/**\n * WF3 — Parse LLM Response (cleaned 2026-05-26)\n * Tags items with _parse_status='success' | 'fail' for downstream routing.\n * On parse failure: emits minimal diagnostic fields only, no placeholder OQ row.\n * Route Parse Result IF sends success → Write to OQ, fail → Log Parse Failure.\n */\nconst results = [];\nconst originalItems = $('Build Outreach Prompt').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const d = item.json;\n  const orig = originalItems[i] ? originalItems[i].json : {};\n  let parsed = null;\n  let parseError = null;\n  let rawForLog = '';\n\n  try {\n    if (d.choices && d.choices[0]) {\n      const raw = d.choices[0].message?.content || '{}';\n      rawForLog = raw;\n      const cleaned = raw.replace(/```json?\\s*/g, '').replace(/```\\s*/g, '').trim();\n      parsed = JSON.parse(cleaned);\n    } else if (d.content && d.content[0]) {\n      const raw = d.content[0].text || '{}';\n      rawForLog = raw;\n      const cleaned = raw.replace(/```json?\\s*/g, '').replace(/```\\s*/g, '').trim();\n      parsed = JSON.parse(cleaned);\n    } else if (d.email_1_subject) {\n      parsed = d;\n    } else if (d.error) {\n      throw new Error('LLM API error: ' + (d.error.message || JSON.stringify(d.error)));\n    } else {\n      throw new Error('Unrecognized LLM response shape');\n    }\n  } catch(e) {\n    parseError = e.message;\n  }\n\n  if (parseError) {\n    results.push({ json: {\n      _parse_status: 'fail',\n      opportunity_id: orig.opportunity_id || '',\n      company_name: orig.company_name || '',\n      contact_email: orig.contact_email || '',\n      contact_name: orig.contact_name || '',\n      job_title: orig.job_title || '',\n      parse_error: parseError,\n      raw_excerpt: rawForLog.substring(0, 500),\n      llm_provider: $vars.LLM_PROVIDER || 'openai'\n    }});\n    continue;\n  }\n\n  const contactFirst = (orig.contact_name || '').split(' ')[0] || '';\n  const companyName = orig.company_name || '';\n  const clean = (str) => (str || '')\n    .replace(/\\b(Hi|Hello|Dear)[,\\s]*Hiring(?:\\s+Manager)?\\b/gi, (_, g) => contactFirst ? g + ' ' + contactFirst : g + ',')\n    .replace(/\\[Hiring Manager\\]/gi, contactFirst)\n    .replace(/\\[First Name\\]/gi, contactFirst)\n    .replace(/\\[Name\\]/gi, contactFirst)\n    .replace(/\\[Your Name\\]/gi, 'Michael')\n    .replace(/\\[Company Name\\]/gi, companyName)\n    .replace(/\\[Company\\]/gi, companyName)\n    .replace(/\\s*—\\s*/g, ', ')\n    .replace(/\\s*--\\s*/g, ', ')\n    .replace(/\\s*–\\s*/g, ', ');\n\n  results.push({\n    json: {\n      _parse_status: 'success',\n      opportunity_id: orig.opportunity_id || '',\n      company_name: orig.company_name || '',\n      company_domain: orig.company_domain || '',\n      contact_name: orig.contact_name || '',\n      contact_title: orig.contact_title || '',\n      contact_email: orig.contact_email || '',\n      job_title: orig.job_title || '',\n      location: orig.location || '',\n      company_summary: orig.company_summary || '',\n      company_industry: orig.company_industry || '',\n      seniority: orig.seniority || '',\n      skills: orig.skills || '',\n      confidence_score: orig.confidence_score || '',\n      contact_reasoning: orig.contact_reasoning || '',\n      linkedin_url: orig.linkedin_url || '',\n      source_url: orig.source_url || '',\n      posted_date: orig.posted_date || '',\n      email_1_subject: clean(parsed.email_1_subject) || '',\n      email_1_body: clean(parsed.email_1_body) || '',\n      email_2_subject: clean(parsed.email_2_subject) || '',\n      email_2_body: clean(parsed.email_2_body) || '',\n      email_3_subject: clean(parsed.email_3_subject) || '',\n      email_3_body: clean(parsed.email_3_body) || '',\n      personalization_angle: parsed.personalization_angle || '',\n      recipient_reasoning: parsed.recipient_reasoning || '',\n      scaling_hypothesis: parsed.scaling_hypothesis || '',\n      approval_status: 'pending',\n      sent_status: 'unsent',\n      sent_timestamp: '',\n      llm_provider: $vars.LLM_PROVIDER || 'openai',\n      generated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;\n"},"id":"wf3-parse-response","name":"Parse LLM Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,384]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Outreach Queue","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","contact_name":"={{ $json.contact_name }}","company_name":"={{ $json.company_name }}","contact_email":"={{ $json.contact_email }}","job_title":"={{ $json.job_title }}","email_1_subject":"={{ $json.email_1_subject }}","email_1_body":"={{ $json.email_1_body }}","email_2_subject":"={{ $json.email_2_subject }}","email_2_body":"={{ $json.email_2_body }}","email_3_subject":"={{ $json.email_3_subject }}","email_3_body":"={{ $json.email_3_body }}","posted_date":"={{ $json.posted_date }}","source_url":"={{ $json.source_url }}","approval_status":"pending","sent_status":"unsent","follow_up_stage":"0","scheduled_date":"","company_domain":"={{ $json.company_domain }}","personalization_angle":"={{ $json.personalization_angle }}","recipient_reasoning":"={{ $json.recipient_reasoning }}","scaling_hypothesis":"={{ $json.scaling_hypothesis }}"},"matchingColumns":[],"schema":[{"id":"opportunity_id","displayName":"opportunity_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_email","displayName":"contact_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_subject","displayName":"email_1_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_1_body","displayName":"email_1_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_subject","displayName":"email_2_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_2_body","displayName":"email_2_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_subject","displayName":"email_3_subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_3_body","displayName":"email_3_body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"approval_status","displayName":"approval_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_status","displayName":"sent_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent_timestamp","displayName":"sent_timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"follow_up_stage","displayName":"follow_up_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scheduled_date","displayName":"scheduled_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalization_angle","displayName":"personalization_angle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recipient_reasoning","displayName":"recipient_reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scaling_hypothesis","displayName":"scaling_hypothesis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"wf3-write-outreach-queue","name":"Write to Outreach Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1552,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Opportunities","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"opportunity_id":"={{ $json.opportunity_id }}","status":"draft_ready"},"matchingColumns":["opportunity_id"]},"options":{}},"id":"wf3-update-opp-status","name":"Update Opportunity to draft_ready","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1760,384],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{},"id":"wf3-error-handler","name":"Error Handler","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,720]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Errors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","workflow_name":"WF3: Outreach Draft Generation","node_name":"={{ $json.execution.lastNodeExecuted }}","error_message":"={{ $json.execution.error.message }}","input_data":"={{ JSON.stringify($json.execution.error.context || {}) }}"}},"options":{}},"id":"wf3-write-error","name":"Write Error to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[224,720],"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"parameters":{"content":"## WF3: Outreach Draft Generation\n\nGenerates personalized outreach using LLM.\n\n**Flow:**\n1. Receive opportunity + contact from WF2 (or manual)\n2. Build structured LLM prompt\n3. Route to OpenAI GPT-4o or Claude (via LLM_PROVIDER env)\n4. Parse JSON response\n5. Write to Outreach Queue sheet\n6. Update Opportunities status to draft_ready\n7. Create Google Doc review packet\n\n**Toggle LLM:**\n- LLM_PROVIDER=openai → GPT-4o\n- LLM_PROVIDER=anthropic → Claude\n\n**Env vars needed:**\n- LLM_PROVIDER\n- OPENAI_API_KEY\n- ANTHROPIC_API_KEY\n- ANTHROPIC_MODEL\n- GOOGLE_SHEETS_ID\n- GOOGLE_DOCS_FOLDER_ID","height":360,"width":280},"id":"wf3-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,208]},{"id":"wf3-route-parse-result","name":"Route Parse Result","type":"n8n-nodes-base.if","typeVersion":2,"position":[1440,384],"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"parse-status-success","leftValue":"={{ $json._parse_status }}","rightValue":"success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"wf3-log-parse-failure","name":"Log Parse Failure","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1552,540],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $vars.GOOGLE_SHEETS_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Errors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $now.toISO() }}","workflow_name":"WF3: Outreach Draft Generation","node_name":"Parse LLM Response","error_message":"={{ $json.parse_error }}","input_data":"={{ JSON.stringify({opportunity_id: $json.opportunity_id, company_name: $json.company_name, contact_email: $json.contact_email, job_title: $json.job_title, llm_provider: $json.llm_provider, raw_excerpt: $json.raw_excerpt}) }}"}},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":10000}],"connections":{"Build Outreach Prompt":{"main":[[{"node":"LLM Provider Router","type":"main","index":0}]]},"LLM Provider Router":{"main":[[{"node":"Claude API Call","type":"main","index":0}],[{"node":"OpenAI GPT-4o Call","type":"main","index":0}]]},"Claude API Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":0}]]},"OpenAI GPT-4o Call":{"main":[[{"node":"Merge LLM Output","type":"main","index":1}]]},"Merge LLM Output":{"main":[[{"node":"Parse LLM Response","type":"main","index":0}]]},"Write to Outreach Queue":{"main":[[{"node":"Update Opportunity to draft_ready","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"Write Error to Sheet","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Build Outreach Prompt","type":"main","index":0}]]},"Parse LLM Response":{"main":[[{"node":"Route Parse Result","type":"main","index":0}]]},"Route Parse Result":{"main":[[{"node":"Write to Outreach Queue","type":"main","index":0}],[{"node":"Log Parse Failure","type":"main","index":0}]]}},"authors":"Michael Byrne","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-27T00:49:56.619Z","id":683,"workflowId":"T1jTXreAw0uZ2TOD","versionId":"8e9a7a61-a206-4d60-b474-8193d24e37a0","event":"activated","userId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"},{"createdAt":"2026-05-27T00:49:56.528Z","id":682,"workflowId":"T1jTXreAw0uZ2TOD","versionId":"8e9a7a61-a206-4d60-b474-8193d24e37a0","event":"deactivated","userId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"}]}}