workflows/wf6-warm-to-cold-handoff.json
{"updatedAt":"2026-05-13T16:49:14.421Z","createdAt":"2026-04-29T04:20:03.636Z","id":"Zyba7eIcS0berpVA","name":"WF6 - Warm to Cold Handoff","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n01","name":"Every Sunday at 5am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * 0"}]}}},{"id":"n02","name":"Read Outreach Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[220,300],"alwaysOutputData":true,"parameters":{"operation":"read","documentId":{"__rl":true,"value":"192SvtVdg3hA0f4ZvHSWZTX2FG1HOzU_vw8jQA9md6no","mode":"id"},"sheetName":{"__rl":true,"value":"Outreach Queue","mode":"name"},"filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n03","name":"Read Contacts Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[440,300],"alwaysOutputData":true,"parameters":{"operation":"read","documentId":{"__rl":true,"value":"192SvtVdg3hA0f4ZvHSWZTX2FG1HOzU_vw8jQA9md6no","mode":"id"},"sheetName":{"__rl":true,"value":"Contacts","mode":"name"},"filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n04","name":"Read Sequence Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[660,300],"alwaysOutputData":true,"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1F2A8TtN5wOuHjvzcO0XYvu-DPmrQWNVaMklT6FTgF9Q","mode":"id"},"sheetName":{"__rl":true,"value":"Sequence Tracker","mode":"name"},"filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n05","name":"Filter + Join + Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const oqRows = $('Read Outreach Queue').all().map(i => i.json);\nconst contactsRows = $('Read Contacts Tab').all().map(i => i.json);\nconst trackerRows = $('Read Sequence Tracker').all().map(i => i.json);\n\n// Build contact_email -> contact_title lookup from Contacts tab\n// (job_title in Outreach Queue is the posted job, not the person's role)\nconst contactsMap = {};\nfor (const row of contactsRows) {\n  const key = (row.contact_email || '').toLowerCase().trim();\n  if (key) contactsMap[key] = row.contact_title || '';\n}\n\n// Build dedup Set from Sequence Tracker Email column\nconst existingEmails = new Set(\n  trackerRows.map(r => (r.Email || '').toLowerCase().trim()).filter(Boolean)\n);\n\nfunction derivePersona(title) {\n  const t = (title || '').toLowerCase();\n  if (t.includes('ciso')) return 'CISO';\n  if (t.includes('cto') || t.includes('chief technology')) return 'CTO';\n  if (t.includes('cio') || t.includes('chief information')) return 'CIO';\n  if (t.includes('ceo') || t.includes('president') || t.includes('founder')) return 'CEO/President';\n  if (t.includes('vp') || t.includes('vice president')) return 'VP';\n  if (t.includes('director')) return 'Director';\n  if (t.includes('manager')) return 'Manager';\n  if (t.includes('engineer')) return 'Engineering';\n  return 'Other';\n}\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst to_add = [];\nconst skipped = [];\n\nfor (const row of oqRows) {\n  // Filter: sent_status = 'sent'\n  const sentStatus = (row.sent_status || '').toLowerCase().trim();\n  if (sentStatus !== 'sent') continue;\n\n  // Belt-and-suspenders REJECT guard: exclude rows WF5 may have missed\n  if ((row.approval_status || '').toUpperCase() === 'REJECT') continue;\n\n  // Filter: follow_up_stage = 2 (0-indexed: all 3 emails sent)\n  const followUpStage = parseInt(row.follow_up_stage, 10);\n  if (followUpStage !== 2) continue;\n\n  // Filter: sent_timestamp >= 5 calendar days ago\n  const sentTimestamp = row.sent_timestamp ? new Date(row.sent_timestamp) : null;\n  if (!sentTimestamp || isNaN(sentTimestamp.getTime())) continue;\n  const daysSinceSent = Math.floor((today - sentTimestamp) / (1000 * 60 * 60 * 24));\n  if (daysSinceSent < 5) continue;\n\n  const email = (row.contact_email || '').toLowerCase().trim();\n  if (!email) continue;\n\n  // Dedup: skip if already in Sequence Tracker\n  if (existingEmails.has(email)) {\n    skipped.push(email);\n    continue;\n  }\n\n  const contactTitle = contactsMap[email] || '';\n  const nameParts = (row.contact_name || '').trim().split(/\\s+/);\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.slice(1).join(' ');\n\n  to_add.push({\n    'Email': row.contact_email,\n    'First Name': firstName,\n    'Last Name': lastName,\n    'Title': contactTitle,\n    'Persona': derivePersona(contactTitle),\n    'Company': row.company_name || '',\n    'Domain': row.company_domain || '',\n    'Industry': '',\n    'Source': 'project1_warmout',\n    'Current Touch': '4',\n    'Wave': 'Safe_to_Send',\n    'Status': 'Active',\n    'warm_origin': 'TRUE',\n    'Date Added to Sequence': today.toISOString().split('T')[0],\n    '_company_for_summary': row.company_name || ''\n  });\n}\n\nconst companies_added = to_add.map(c => c._company_for_summary).filter(Boolean).join('\\n');\n\nreturn [{ json: { to_add, skipped, to_add_count: to_add.length, skipped_count: skipped.length, companies_added } }];"}},{"id":"n06","name":"IF: Contacts to Add?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1100,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.to_add_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"n07","name":"Split Out to_add Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,160],"parameters":{"jsCode":"return $json.to_add.map(contact => ({ json: contact }));"}},{"id":"n08","name":"Append to Sequence Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1540,160],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1F2A8TtN5wOuHjvzcO0XYvu-DPmrQWNVaMklT6FTgF9Q","mode":"id"},"sheetName":{"__rl":true,"value":"Sequence Tracker","mode":"name"},"columns":{"mappingMode":"autoMapInputData","matchingColumns":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n09","name":"Prepare Handoff Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,160],"parameters":{"mode":"runOnceForAllItems","jsCode":"const summary = $('Filter + Join + Dedup').first().json;\nconst dateStr = new Date().toISOString().split('T')[0];\nconst companiesHtml = summary.companies_added\n  ? summary.companies_added.replace(/\\n/g, '<br>')\n  : '(none)';\nreturn [{\n  json: {\n    _subject: `WF6 Handoff | ${dateStr} | ${summary.to_add_count} contacts moved to Cold BD Plan`,\n    _body_html: `<p><strong>WF6 Warm \\u2192 Cold Handoff Complete</strong></p><p>Contacts added to Cold BD Plan: <strong>${summary.to_add_count}</strong><br>Skipped (already in sequence): ${summary.skipped_count}</p><p><strong>Companies added:</strong><br>${companiesHtml}</p>`\n  }\n}];"}},{"id":"n10","name":"Send Handoff Summary","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1980,160],"parameters":{"sendTo":"michael@10pillarssolutions.com","subject":"={{ $json._subject }}","message":"={{ $json._body_html }}","options":{"emailType":"html"}},"credentials":{"gmailOAuth2":{"id":"IYY5ghfJsIOI6umh","name":"Gmail account"}},"webhookId":"3c8c803a-20c0-4ac4-9b63-ba30932c6856"},{"id":"n11","name":"Prepare No-Contacts Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const summary = $('Filter + Join + Dedup').first().json;\nconst dateStr = new Date().toISOString().split('T')[0];\nreturn [{\n  json: {\n    _subject: `WF6 Handoff | ${dateStr} | 0 contacts moved to Cold BD Plan`,\n    _body_html: `<p><strong>WF6 Warm \\u2192 Cold Handoff Complete</strong></p><p>No new contacts qualified for handoff this week.</p><p>Skipped (already in sequence): ${summary.skipped_count}</p>`\n  }\n}];"}},{"id":"n12","name":"Send No-Contacts Summary","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1540,440],"parameters":{"sendTo":"michael@10pillarssolutions.com","subject":"={{ $json._subject }}","message":"={{ $json._body_html }}","options":{"emailType":"html"}},"credentials":{"gmailOAuth2":{"id":"IYY5ghfJsIOI6umh","name":"Gmail account"}},"webhookId":"cf73915c-5964-4d85-81d8-3ae10da9f06a"},{"id":"n13","name":"Sticky Note - Dedup Logic","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[780,460],"parameters":{"content":"## Filter + Join + Dedup Logic\n\n**Why 3 sheet reads?**\n- Outreach Queue: source contacts (sent_status=sent, follow_up_stage=2, 5+ days old)\n- Contacts Tab: join on contact_email ? contact_title (job_title in OQ is the *posted job*, not the person's role)\n- Sequence Tracker: build dedup Set so we never double-add a contact\n\n**Persona mapping** derives from contact_title keywords (CTO, VP, Director, etc.)\n\n**Replied/unsubscribed contacts** are excluded automatically - user sets approval_status=rejected ? WF5 archives them daily before Sunday 5am run.","width":380,"height":200}}],"connections":{"Every Sunday at 5am":{"main":[[{"node":"Read Outreach Queue","type":"main","index":0}]]},"Read Outreach Queue":{"main":[[{"node":"Read Contacts Tab","type":"main","index":0}]]},"Read Contacts Tab":{"main":[[{"node":"Read Sequence Tracker","type":"main","index":0}]]},"Read Sequence Tracker":{"main":[[{"node":"Filter + Join + Dedup","type":"main","index":0}]]},"Filter + Join + Dedup":{"main":[[{"node":"IF: Contacts to Add?","type":"main","index":0}]]},"IF: Contacts to Add?":{"main":[[{"node":"Split Out to_add Items","type":"main","index":0}],[{"node":"Prepare No-Contacts Summary","type":"main","index":0}]]},"Split Out to_add Items":{"main":[[{"node":"Append to Sequence Tracker","type":"main","index":0}]]},"Append to Sequence Tracker":{"main":[[{"node":"Prepare Handoff Summary","type":"main","index":0}]]},"Prepare Handoff Summary":{"main":[[{"node":"Send Handoff Summary","type":"main","index":0}]]},"Prepare No-Contacts Summary":{"main":[[{"node":"Send No-Contacts Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every Sunday at 5am":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"e048a7be-7eb1-4e0c-ad1f-0020f354801c","activeVersionId":"e048a7be-7eb1-4e0c-ad1f-0020f354801c","versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-04-29T04:20:03.639Z","createdAt":"2026-04-29T04:20:03.639Z","role":"workflow:owner","workflowId":"Zyba7eIcS0berpVA","projectId":"vBgsLJa2v6uIUdQM","project":{"updatedAt":"2026-03-26T23:07:09.721Z","createdAt":"2026-03-26T23:07:03.922Z","id":"vBgsLJa2v6uIUdQM","name":"Michael Byrne <michael@10pillarssolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-13T16:49:14.421Z","createdAt":"2026-05-13T16:49:14.421Z","versionId":"e048a7be-7eb1-4e0c-ad1f-0020f354801c","workflowId":"Zyba7eIcS0berpVA","nodes":[{"id":"n01","name":"Every Sunday at 5am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * 0"}]}}},{"id":"n02","name":"Read Outreach Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[220,300],"alwaysOutputData":true,"parameters":{"operation":"read","documentId":{"__rl":true,"value":"192SvtVdg3hA0f4ZvHSWZTX2FG1HOzU_vw8jQA9md6no","mode":"id"},"sheetName":{"__rl":true,"value":"Outreach Queue","mode":"name"},"filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n03","name":"Read Contacts Tab","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[440,300],"alwaysOutputData":true,"parameters":{"operation":"read","documentId":{"__rl":true,"value":"192SvtVdg3hA0f4ZvHSWZTX2FG1HOzU_vw8jQA9md6no","mode":"id"},"sheetName":{"__rl":true,"value":"Contacts","mode":"name"},"filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n04","name":"Read Sequence Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[660,300],"alwaysOutputData":true,"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1F2A8TtN5wOuHjvzcO0XYvu-DPmrQWNVaMklT6FTgF9Q","mode":"id"},"sheetName":{"__rl":true,"value":"Sequence Tracker","mode":"name"},"filtersUI":{},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n05","name":"Filter + Join + Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const oqRows = $('Read Outreach Queue').all().map(i => i.json);\nconst contactsRows = $('Read Contacts Tab').all().map(i => i.json);\nconst trackerRows = $('Read Sequence Tracker').all().map(i => i.json);\n\n// Build contact_email -> contact_title lookup from Contacts tab\n// (job_title in Outreach Queue is the posted job, not the person's role)\nconst contactsMap = {};\nfor (const row of contactsRows) {\n  const key = (row.contact_email || '').toLowerCase().trim();\n  if (key) contactsMap[key] = row.contact_title || '';\n}\n\n// Build dedup Set from Sequence Tracker Email column\nconst existingEmails = new Set(\n  trackerRows.map(r => (r.Email || '').toLowerCase().trim()).filter(Boolean)\n);\n\nfunction derivePersona(title) {\n  const t = (title || '').toLowerCase();\n  if (t.includes('ciso')) return 'CISO';\n  if (t.includes('cto') || t.includes('chief technology')) return 'CTO';\n  if (t.includes('cio') || t.includes('chief information')) return 'CIO';\n  if (t.includes('ceo') || t.includes('president') || t.includes('founder')) return 'CEO/President';\n  if (t.includes('vp') || t.includes('vice president')) return 'VP';\n  if (t.includes('director')) return 'Director';\n  if (t.includes('manager')) return 'Manager';\n  if (t.includes('engineer')) return 'Engineering';\n  return 'Other';\n}\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst to_add = [];\nconst skipped = [];\n\nfor (const row of oqRows) {\n  // Filter: sent_status = 'sent'\n  const sentStatus = (row.sent_status || '').toLowerCase().trim();\n  if (sentStatus !== 'sent') continue;\n\n  // Belt-and-suspenders REJECT guard: exclude rows WF5 may have missed\n  if ((row.approval_status || '').toUpperCase() === 'REJECT') continue;\n\n  // Filter: follow_up_stage = 2 (0-indexed: all 3 emails sent)\n  const followUpStage = parseInt(row.follow_up_stage, 10);\n  if (followUpStage !== 2) continue;\n\n  // Filter: sent_timestamp >= 5 calendar days ago\n  const sentTimestamp = row.sent_timestamp ? new Date(row.sent_timestamp) : null;\n  if (!sentTimestamp || isNaN(sentTimestamp.getTime())) continue;\n  const daysSinceSent = Math.floor((today - sentTimestamp) / (1000 * 60 * 60 * 24));\n  if (daysSinceSent < 5) continue;\n\n  const email = (row.contact_email || '').toLowerCase().trim();\n  if (!email) continue;\n\n  // Dedup: skip if already in Sequence Tracker\n  if (existingEmails.has(email)) {\n    skipped.push(email);\n    continue;\n  }\n\n  const contactTitle = contactsMap[email] || '';\n  const nameParts = (row.contact_name || '').trim().split(/\\s+/);\n  const firstName = nameParts[0] || '';\n  const lastName = nameParts.slice(1).join(' ');\n\n  to_add.push({\n    'Email': row.contact_email,\n    'First Name': firstName,\n    'Last Name': lastName,\n    'Title': contactTitle,\n    'Persona': derivePersona(contactTitle),\n    'Company': row.company_name || '',\n    'Domain': row.company_domain || '',\n    'Industry': '',\n    'Source': 'project1_warmout',\n    'Current Touch': '4',\n    'Wave': 'Safe_to_Send',\n    'Status': 'Active',\n    'warm_origin': 'TRUE',\n    'Date Added to Sequence': today.toISOString().split('T')[0],\n    '_company_for_summary': row.company_name || ''\n  });\n}\n\nconst companies_added = to_add.map(c => c._company_for_summary).filter(Boolean).join('\\n');\n\nreturn [{ json: { to_add, skipped, to_add_count: to_add.length, skipped_count: skipped.length, companies_added } }];"}},{"id":"n06","name":"IF: Contacts to Add?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1100,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.to_add_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"n07","name":"Split Out to_add Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,160],"parameters":{"jsCode":"return $json.to_add.map(contact => ({ json: contact }));"}},{"id":"n08","name":"Append to Sequence Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1540,160],"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1F2A8TtN5wOuHjvzcO0XYvu-DPmrQWNVaMklT6FTgF9Q","mode":"id"},"sheetName":{"__rl":true,"value":"Sequence Tracker","mode":"name"},"columns":{"mappingMode":"autoMapInputData","matchingColumns":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"7dIWwoowtD1RTjmu","name":"Google Sheets account"}}},{"id":"n09","name":"Prepare Handoff Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,160],"parameters":{"mode":"runOnceForAllItems","jsCode":"const summary = $('Filter + Join + Dedup').first().json;\nconst dateStr = new Date().toISOString().split('T')[0];\nconst companiesHtml = summary.companies_added\n  ? summary.companies_added.replace(/\\n/g, '<br>')\n  : '(none)';\nreturn [{\n  json: {\n    _subject: `WF6 Handoff | ${dateStr} | ${summary.to_add_count} contacts moved to Cold BD Plan`,\n    _body_html: `<p><strong>WF6 Warm \\u2192 Cold Handoff Complete</strong></p><p>Contacts added to Cold BD Plan: <strong>${summary.to_add_count}</strong><br>Skipped (already in sequence): ${summary.skipped_count}</p><p><strong>Companies added:</strong><br>${companiesHtml}</p>`\n  }\n}];"}},{"id":"n10","name":"Send Handoff Summary","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1980,160],"parameters":{"sendTo":"michael@10pillarssolutions.com","subject":"={{ $json._subject }}","message":"={{ $json._body_html }}","options":{"emailType":"html"}},"credentials":{"gmailOAuth2":{"id":"IYY5ghfJsIOI6umh","name":"Gmail account"}},"webhookId":"3c8c803a-20c0-4ac4-9b63-ba30932c6856"},{"id":"n11","name":"Prepare No-Contacts Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const summary = $('Filter + Join + Dedup').first().json;\nconst dateStr = new Date().toISOString().split('T')[0];\nreturn [{\n  json: {\n    _subject: `WF6 Handoff | ${dateStr} | 0 contacts moved to Cold BD Plan`,\n    _body_html: `<p><strong>WF6 Warm \\u2192 Cold Handoff Complete</strong></p><p>No new contacts qualified for handoff this week.</p><p>Skipped (already in sequence): ${summary.skipped_count}</p>`\n  }\n}];"}},{"id":"n12","name":"Send No-Contacts Summary","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1540,440],"parameters":{"sendTo":"michael@10pillarssolutions.com","subject":"={{ $json._subject }}","message":"={{ $json._body_html }}","options":{"emailType":"html"}},"credentials":{"gmailOAuth2":{"id":"IYY5ghfJsIOI6umh","name":"Gmail account"}},"webhookId":"cf73915c-5964-4d85-81d8-3ae10da9f06a"},{"id":"n13","name":"Sticky Note - Dedup Logic","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[780,460],"parameters":{"content":"## Filter + Join + Dedup Logic\n\n**Why 3 sheet reads?**\n- Outreach Queue: source contacts (sent_status=sent, follow_up_stage=2, 5+ days old)\n- Contacts Tab: join on contact_email ? contact_title (job_title in OQ is the *posted job*, not the person's role)\n- Sequence Tracker: build dedup Set so we never double-add a contact\n\n**Persona mapping** derives from contact_title keywords (CTO, VP, Director, etc.)\n\n**Replied/unsubscribed contacts** are excluded automatically - user sets approval_status=rejected ? WF5 archives them daily before Sunday 5am run.","width":380,"height":200}}],"connections":{"Every Sunday at 5am":{"main":[[{"node":"Read Outreach Queue","type":"main","index":0}]]},"Read Outreach Queue":{"main":[[{"node":"Read Contacts Tab","type":"main","index":0}]]},"Read Contacts Tab":{"main":[[{"node":"Read Sequence Tracker","type":"main","index":0}]]},"Read Sequence Tracker":{"main":[[{"node":"Filter + Join + Dedup","type":"main","index":0}]]},"Filter + Join + Dedup":{"main":[[{"node":"IF: Contacts to Add?","type":"main","index":0}]]},"IF: Contacts to Add?":{"main":[[{"node":"Split Out to_add Items","type":"main","index":0}],[{"node":"Prepare No-Contacts Summary","type":"main","index":0}]]},"Split Out to_add Items":{"main":[[{"node":"Append to Sequence Tracker","type":"main","index":0}]]},"Append to Sequence Tracker":{"main":[[{"node":"Prepare Handoff Summary","type":"main","index":0}]]},"Prepare Handoff Summary":{"main":[[{"node":"Send Handoff Summary","type":"main","index":0}]]},"Prepare No-Contacts Summary":{"main":[[{"node":"Send No-Contacts Summary","type":"main","index":0}]]}},"authors":"Michael Byrne","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-13T16:49:14.594Z","id":508,"workflowId":"Zyba7eIcS0berpVA","versionId":"e048a7be-7eb1-4e0c-ad1f-0020f354801c","event":"activated","userId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"},{"createdAt":"2026-05-13T16:49:14.520Z","id":507,"workflowId":"Zyba7eIcS0berpVA","versionId":"e048a7be-7eb1-4e0c-ad1f-0020f354801c","event":"deactivated","userId":"df188ec2-208c-4f14-a4f7-25f762dc17a3"}]}}